<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>云商学院后台管理</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/backend/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/backend/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/alert.css" th:href="@{/backend/css/alert.css}"/>
    <script type="text/javascript" src="js/libs/jquery-1.7.2.min.js" th:src="@{/backend/js/libs/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="js/libs/modernizr.min.js"
            th:src="@{/backend/js/libs/modernizr.min.js}"></script>
    <!--滚动条-->
    <script type="text/javascript" src="js/scroll/scroll_height_width.js" th:src="@{/backend/js/scroll/scroll_height_width.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/jscrollpane.css" th:href="@{/backend/css/jscrollpane.css}"/>
    <script type="text/javascript" src="js/scroll/jquery.mousewheel.js"
            th:src="@{/backend/js/scroll/jquery.mousewheel.js}"></script>
    <script type="text/javascript" src="js/scroll/scroll_startstop.events.jquery.js"
            th:src="@{/backend/js/scroll/scroll_startstop.events.jquery.js}"></script>
    <script type="text/javascript" src="js/scroll/jquery.jscrollpane.min.js"
            th:src="@{/backend/js/scroll/jquery.jscrollpane.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function(){
            //发证按钮添加弹出窗口
            $("#apply_tab tr a:odd").click(function(){
                var memberTds=$(this).parent().parent().children("td");
                var memberId=memberTds[0].innerHTML;
                var applyDate=memberTds[4].innerHTML;
                $.ajax({
                    url:"getCertificateByMemberId",
                    type:"post",
                    dataType:"json",
                    data:{"id":memberId},
                    success:function(result){
                        if(result.status==1){
                            $(".res-info").eq(0).text(result.body.receiveName);
                            $(".res-info").eq(1).text(applyDate);
                            $(".res-info").eq(2).text(result.body.receiveAddress);
                            $(".res-info").eq(3).text(result.body.phoneNo);
                        }else{
                            alert("ID无效~");
                        }
                    },
                    error:function(){
                        alert("系统异常,加载地址信息失败！");
                    }
                });
                $("#popup_app").show();

            });

            //关闭弹出窗口
            $("#popup_app").on("click","#button_close",function(){
                $("#popup_app").hide();
            });
        });



    </script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">云商学院后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a href="index.html" th:href="@{/backend/index}">首页</a></li>
                <li><a href="wanted.html" th:href="@{/backend/loadWanted}">网站维护</a></li>
                <li><a class="on" href="certificateapplications.html" th:href="@{/backend/searchMembers}">代理商管理</a>
                </li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><span th:text="${#authentication.name}"></span></li>
                <li><a href="changethepassword.html" th:href="@{/backend/loadChangeThePassword}">修改密码</a></li>
                <li><a href="#" th:href="@{/logout}">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <img src="images/htlogo.png" th:src="@{/backend/images/htlogo.png}"
                 style=" width:160px;margin-left: -10px;"/>
        </div>
        <div class="sidebar-content">
            <div class="jp-container">
            <ul class="sidebar-list">
                    <li>
                        <p style="height:30px; line-height:30px; margin-left: 20px;">管理代理商</p>
                        <ul class="sub-menu" style="display:block;">
                            <li class="on"><a href="certificateapplications.html"
                                              th:href="@{/backend/searchMembers}">申请领证列表</a></li>
                            <li><a href="agents.html" th:href="@{/backend/searchAgents}">代理商列表</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="certificateapplications.html" th:href="@{/backend/searchMembers}">管理代理商表</a><span
                    class="crumb-step">&gt;</span><span class="crumb-name">申请领证列表</span></div>
        </div>

        <div class="jp-container2">
        <!--弹窗-->
        <div id="popup_app" style="display: none">
            <div id="app">
                <div class="tko">
                    <div class="result-wrap">
                        <div class="result-content">
                            <ul class="sys-info-list">
                                <li>
                                    <label class="res-lab">收件人：</label><span class="res-info">加载中...</span>
                                </li>
                                <li>
                                    <label class="res-lab">申请时间：</label><span class="res-info">加载中...</span>
                                </li>
                                <li>
                                    <label class="res-lab">收件地址:</label><span class="res-info">加载中...</span>
                                </li>
                                <li>
                                    <label class="res-lab">电话:</label><span class="res-info">加载中...</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="result-wrap">
                        <form action="#" method="post" id="myform" name="myform">
                            <div class="config-items">
                                <div class="result-content">
                                    <table width="100%" class="insert-tab">
                                        <tbody>
                                        <tr>
                                            <th><i class="require-red">*</i>证书编号：</th>
                                            <td><input type="text" id="" value="" size="30" name="description" class="common-text"/></td>
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <span id="span_warn" class="warning-style" style="display: none">警告！已经有证书了/格式不正确/</span>
                                            <td>

                                                <input id="button_submit" type="submit" value="提交" class="btn btn-primary btn6 mr10"/>
                                                <input id="button_close" type="button" value="关闭" class="btn btn6"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="msss"></div>
            </div>

        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table id="apply_tab" class="result-tab" width="100%">
                        <tr>
                            <th style="width:80px">序号</th>
                            <th style="width:80px;">姓名</th>
                            <th style="width:80px">区域</th>
                            <th style="width:100px">电话</th>
                            <th style="width:80px">申请时间</th>
                            <th style="width:80px">领证状态</th>
                            <th style="width:100px">班级</th>
                            <th style="width:80px">操作</th>
                        </tr>
                        <tr th:remove="all">
                            <td>01</td>
                            <td title="">某某</td>
                            <td>杭州</td>
                            <td>15068564912</td>
                            <td>2015/01/01</td>
                            <td>申请发证</td>
                            <td>201504第一期</td>
                            <td><a class="link-update" href="prentice.html">查看</a><br/><a class="link-update" href="#">发证</a>
                            </td>
                        </tr>
                        <tr th:remove="all">
                            <td>01</td>
                            <td title="">某某</td>
                            <td>杭州</td>
                            <td>15068564912</td>
                            <td>2015/01/01</td>
                            <td>申请发证</td>
                                <td>201504第一期</td>
                            <td><a class="link-update" href="prentice.html">查看</a><br/><a class="link-update" href="#">发证</a>
                            </td>
                        </tr>

                        <tr th:each="g:${allMemberList}">
                            <td th:text="${g.id}">01</td>
                            <td th:text="${g.realName}" title="">某某</td>
                            <td th:text="${g.agent.area}">杭州</td>
                            <td th:text="${g.phoneNo}">15068564912</td>
                            <td th:text="${#calendars.format(g.applyCertificateDate,'yyyy-MM-dd hh:mm:ss')}">2015/01/01</td>
                            <td th:text="${g.certificateStatus}==1?'已领证':(${g.certificateStatus}==2?'申请中':'')">申请发证</td>
                            <td th:text="${g.theClass}==null? '':${g.theClass.className}">201504第一期</td>
                            <td><a class="link-update" href="prentice.html" th:href="@{/backend/lookMember}">查看</a><br/>
                                <a class="link-update" href="#">发证</a>
                            </td>
                        </tr>
                    </table>
                    <div class="list-page">
                        <a href="#" th:if="${pageNo}>0" th:href="@{/backend/searchMember(pageNo=${pageNo}-1)}">上一页</a>
                        <a href="#" th:if="${totalPages}-1>${pageNo}" th:href="@{/backend/loadVideo(pageNo=${pageNo}+1)}">下一页</a>
                        <span th:text="'当前第'+${pageNo+1}">1</span>页/<span th:text="'共'+${totalPages}">1</span> 页
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>