
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">云商学院后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a href="index.html" th:href="@{/backend/index}">首页</a></li>
                <li><a href="wantedes.html" th:href="@{/backend/load/wantedes}">网站维护</a></li>
                <li><a href="certificateapplications.html" th:href="@{/backend/load/certificateapplications}">代理商管理</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li>admin</li>
                <li><a href="changethepassword.html" >修改密码</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>