<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>云商学院后台管理</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/backend/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/backend/css/main.css}"/>
    <script type="text/javascript" src="js/libs/jquery-1.7.2.min.js"
            th:src="@{/backend/js/libs/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="js/libs/modernizr.min.js"
            th:src="@{/backend/js/libs/modernizr.min.js}"></script>
    <!--警告框控件-->
    <link rel="stylesheet" type="text/css" href="css/jquery_confirm.css" th:href="@{/backend/css/jquery_confirm.css}"/>
    <script type="text/javascript" src="js/confirm.js" th:src="@{/backend/js/confirm.js}"></script>
    <!--滚动条-->
    <script type="text/javascript" src="js/scroll/scroll_height_width.js"
            th:src="@{/backend/js/scroll/scroll_height_width.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/jscrollpane.css" th:href="@{/backend/css/jscrollpane.css}"/>
    <script type="text/javascript" src="js/scroll/jquery.mousewheel.js"
            th:src="@{/backend/js/scroll/jquery.mousewheel.js}"></script>
    <script type="text/javascript" src="js/scroll/scroll_startstop.events.jquery.js"
            th:src="@{/backend/js/scroll/scroll_startstop.events.jquery.js}"></script>
    <script type="text/javascript" src="js/scroll/jquery.jscrollpane.min.js"
            th:src="@{/backend/js/scroll/jquery.jscrollpane.min.js}"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">云商学院后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a href="index.html" th:href="@{/backend/index}">首页</a></li>
                <li><a href="wanted.html" th:href="@{/backend/loadWanted}">网站维护</a></li>
                <li><a href="certificateapplications.html" th:href="@{/backend/searchMembers}">代理商管理</a></li>
                <li><a class="on" href="notice.html" th:href="@{/backend/notices}">公告管理</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><span th:text="${#authentication.name}"></span></li>
                <li><a href="changethepassword.html" th:href="@{/backend/loadChangeThePassword}">修改密码</a></li>
                <li><a href="#" th:href="@{/logout}">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <img src="images/htlogo.png" th:src="@{/backend/images/htlogo.png}"
                 style=" width:160px;margin-left: -10px;"/>
        </div>
        <div class="sidebar-content">
            <div class="jp-container">
                <ul class="sidebar-list">
                    <li>
                        <p style="height:30px; line-height:30px; margin-left: 20px;">公告管理</p>
                        <ul class="sub-menu" style="display:block;">
                            <li><a href="certificateapplications.html"
                                   th:href="@{/backend/notices}">公告列表</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="notice.html"
                                                                 th:href="@{/backend/notices}">公告管理</a><span
                    class="crumb-step">&gt;</span><span class="crumb-name">公告列表</span>
            </div>
        </div>
        <div class="jp-container2">
            <div class="result-wrap">
                <form name="myform" id="myform" method="post">
                    <!--<div class="result-title">
                        <div class="result-list">
                            <a href="/hotedu/backend/addAgent"><i class="icon-font">+</i>新增代理商</a>
                        </div>
                    </div>-->
                    <div class="result-content">
                        <table class="result-tab" width="100%">
                            <thead>
                            <th style="width:80px">序号</th>
                            <th style="width:80px;">公告类别</th>
                            <th style="width:80px">公告图片</th>
                            <th style="width:100px">状态</th>
                            <th style="width:80px">图片链接</th>
                            <th style="width:80px">操作</th>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="notice:${noticeList}">
                                <td th:text="${notice.id}">2</td>
                                <td th:text="${notice.type.name}">课程</td>
                                <td th:text="${notice.picUrl}">开启</td>
                                <td th:text="${notice.enabled}==true?'开启':'关闭'">hotedu</td>
                                <td>/pc/loadMemberRegister</td>
                                <td th:switch="${notice.enabled}"><a class="link-update"
                                                                     th:href="@{/backend/notices/{noticeId}(noticeId=${notice.id})}">修改</a>
                                    <br/>
                                    <a class="link-update" th:attr="noticeId=${notice.id}" th:case="false"
                                       onclick="changeNoticeStatus(this,true)">开启</a>
                                    <a class="link-update" th:attr="noticeId=${notice.id}" th:case="true"
                                       onclick="changeNoticeStatus(this,false)">关闭</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
<script>
    function changeNoticeStatus(obj, status) {
        var noticeId = parseInt($(obj).attr("noticeId"));
        var enabled = status;
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "changeNoticeStatus",
            data: JSON.stringify(GetJsonData()),
//            processData:false,
            dataType: "json",
            success: function (result) {
                if (result.status == 1) {
                    window.location.reload();
                } else if (result.status == 0) {
                    $.MsgBox.Alert("修改失败", result.message);
                }
            },
            error: function () {
                $.MsgBox.Alert("系统异常", "请求失败");
                return false;
            }

        });
        function GetJsonData() {
            var json = {
                "noticeId": noticeId,
                "enabled": enabled
            };
            return json;
        }

    }
</script>
</body>
</html>