<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>云商学院后台管理</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/backend/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/backend/css/main.css}"/>
    <script type="text/javascript" src="js/libs/jquery-1.7.2.min.js" th:src="@{/backend/js/libs/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="js/libs/modernizr.min.js"
            th:src="@{/backend/js/libs/modernizr.min.js}"></script>
    <!--滚动条-->
    <script type="text/javascript" src="js/scroll/scroll_height_width.js" th:src="@{/backend/js/scroll/scroll_height_width.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/jscrollpane.css" th:href="@{/backend/css/jscrollpane.css}"/>
    <script type="text/javascript" src="js/scroll/jquery.mousewheel.js"
            th:src="@{/backend/js/scroll/jquery.mousewheel.js}"></script>
    <script type="text/javascript" src="js/scroll/scroll_startstop.events.jquery.js"
            th:src="@{/backend/js/scroll/scroll_startstop.events.jquery.js}"></script>
    <script type="text/javascript" src="js/scroll/jquery.jscrollpane.min.js"
            th:src="@{/backend/js/scroll/jquery.jscrollpane.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function(){
            //单机提交
            $("#btn_fz").click(function(){
                console.log("123")
                if($("#span_cerStatus").text()=='已发'){
                    alert("证书已发");
                    return;
                }
                /*<![CDATA[*/
                var memberId = [[${member.id}]];
                /*]]>*/
                /*<![CDATA[*/
                var certificateId=[[${certificate.id}]];
                /*]]>*/
                var certificateNo=$("#Cer_no").val();
                if(certificateNo==""){
                    alert("编号不能为空！");
                    return;
                }
                $.ajax({
                    url:"issueCertificateAjax",
                    type:"post",
                    dataType:"json",
                    data:{"certificateNo":certificateNo,"memberId":memberId,"certificateId":certificateId},
                    success:function(result){
                        if(result.status==1){
                            alert("颁发证书成功！")
                            $("#span_cerStatus").text("已发");
                            $("#Cer_no").val("");
                            $("#Cer_no").attr("disabled","disabled");
                            $("#btn_fz").attr("disabled","disabled");
                        }else if(result.status==2){
                            alert("该代理商的证书发完啦~")
                        }
                        else{
                            alert("证书已经被使用或无效证书");
                        }
                    },
                    error:function(){
                        alert("系统异常,颁发证书异常！");
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">云商学院后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a href="index.html" th:href="@{/backend/index}">首页</a></li>
                <li><a href="wanted.html" th:href="@{/backend/loadWanted}">网站维护</a></li>
                <li><a class="on" href="certificateapplications.html" th:href="@{/backend/searchMembers}">代理商管理</a>
                </li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><span th:text="${#authentication.name}"></span></li>
                <li><a href="changethepassword.html" th:href="@{/backend/loadChangeThePassword}">修改密码</a></li>
                <li><a href="#" th:href="@{/logout}">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <img src="images/htlogo.png" th:src="@{/backend/images/htlogo.png}"
                 style=" width:160px;margin-left: -10px;"/>
        </div>
        <div class="sidebar-content">
            <div class="jp-container">
                <ul class="sidebar-list">
                    <li>
                        <p style="height:30px; line-height:30px; margin-left: 20px;">管理代理商</p>
                        <ul class="sub-menu" style="display:block;">
                            <li><a href="certificateapplications.html"
                                   th:href="@{/backend/searchMembers}">申请领证列表</a></li>
                            <li class="on"><a href="agents.html" th:href="@{/backend/searchAgents}">代理商列表</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>
                <a href="certificateapplications.html" th:href="@{/backend/searchMembers}">管理代理商表</a>
                <span class="crumb-step">&gt;</span><a href="batch.html"><span class="crumb-name">班级详情</span></a>
                <span class="crumb-step">&gt;</span><span class="crumb-name">学员详细</span>
            </div>
        </div>
        <div class="jp-container2">
        <div class="result-wrap">
            <div class="result-wrap">
                <div class="result-content">
                    <ul class="sys-info-list">
                        <li>
                            <label class="res-lab">照片：</label><span class="res-info"><img src="images/logo.png" th:src="${certificate}!=null?${certificate.pictureUri}" width="100px" height="auto"/></span>
                        </li>
                        <li>
                            <label class="res-lab">姓名</label><span class="res-info" th:text="${member.realName}==null?'暂无':${member.realName}">某某</span>
                        </li>
                        <li><label class="res-lab">电话：</label><span class="res-info" th:text="${member.phoneNo}==null?'暂无':${member.phoneNo}">1563265895</span></li>
                        <li><label class="res-lab">区域:</label><span class="res-info" th:text="${member.agent}==null?'暂无':${member.agent.area}">杭州</span></li>
                        <li><label class="res-lab">报名时间：</label><span class="res-info" th:text="${member.applyDate}==null?'暂无':${#calendars.format(member.applyDate,'yyyy年MM月dd日')}">2014年3月18日</span></li>
                        <li><label class="res-lab">交费确认时间：</label><span class="res-info" th:text="${member.payDate}==null?'暂无':${#calendars.format(member.payDate,'yyyy-MM-dd hh:mm:ss')}">2015/01/01  13:00:00</span>
                        </li>
                        <li><label class="res-lab">确认人：</label><span class="res-info" th:text="${member.confirmPerson}==null?'未安排':${member.confirmPerson}">oo</span></li>
                        <li><label class="res-lab">考试时间：</label><span class="res-info" th:text="${member.theClass}==null?'未安排':(${member.theClass.exam}==null?'未安排':${#calendars.format(member.theClass.exam.examDate,'yyyy-MM-dd hh:mm:ss')})">2105.01.12</span></li>
                        <li><label class="res-lab">考试地点：</label><span class="res-info" th:text="${member.theClass}==null?'未安排':(${member.theClass.exam}==null?'未安排':${member.theClass.exam.examAddress})">杭州</span></li>
                        <li><label class="res-lab">班级：</label><span class="res-info" th:text="${member.theClass}==null?'未安排':${member.theClass.className}">201504第一期</span></li>
                        <li><label class="res-lab">是否通过：</label><span style="color:#FF0004;" class="res-info" th:text="${member.passed}==1?'通过':(${member.passed}==2?'未通过':'未考试')">是</span>
                        </li>
                        <li><label class="res-lab">状态：</label><span id="span_cerStatus" style="color:#FF0004;" class="res-info" th:text="${member.certificateStatus}==1?'已发':(${member.certificateStatus}==2?'申请领证':'未申请')">申请领证/已发</span></li>
                    </ul>
                </div>

            </div>
            <div class="result-wrap">
                <div class="imessage">
                    <ul>
                        <li><label class="res-lab">收件人：</label><span  th:text="${certificate}==null?'未填写':${certificate.receiveName}">XXX</span></li>
                        <li><label class="res-lab">申请时间：</label><span  th:text="${certificate}==null?'未填写':${#calendars.format(member.applyCertificateDate,'yyyy-MM-dd hh:mm:ss')}">20150401 12：00：00</span></li>
                        <li><label class="res-lab">收件地址:</label><span  th:text="${certificate}==null?'未填写':${certificate.receiveAddress}">文一路</span></li>
                        <li th:if="${member.certificateStatus}==1"><label class="res-lab">证书编号:</label><span  th:text="${certificate}==null?'未填写':${certificate.certificateNo}">abc123456789</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <form action="#" method="get" id="myform" name="myform">
                <div class="config-items">
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody>
                            <tr th:if="${member.certificateStatus}==2">
                                <th><i class="require-red">*</i>证书编号：</th>
                                <td><input type="text" id="Cer_no" value="" size="70" name="certificateNo" class="common-text"/>
                                    <!--<input type="hidden" th:value="${certificate}!=null?${certificate.member.id}:''" name="memberId"/>-->
                                    <!--<input type="hidden" th:value="${certificate}!=null?${certificate.id}:''" name="certificateId"/>-->
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td><input th:if="${member.certificateStatus}=='2'" id="btn_fz" type="button" value="发证" class="btn btn-primary btn6 mr10"/>
                                    <input type="button" value="返回" onclick="history.go(-1)" class="btn btn6"/></td>
                                <!--<span id="span_warn" class="warning-style" style="display: none" th:style="${info}==null?'display: none':'display: block'" th:text="${info}">警告！已经有证书了/格式不正确/</span>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>