 <div class="sidebar-wrap">
        <div class="sidebar-title">
            <img src="images/htlogo.png" style=" width:160px;margin-left: -10px;"/>
        </div>
        <div class="sidebar-content">
            <div id="tsidebar1">
            <ul class="sidebar-list">
                <li>
                    <a href="#" style="height:30px; line-height:30px;">企业信息</a>
                    <ul class="sub-menu">
                        <li><a href="wantedes.html" >招聘信息</a></li>
                        <li><a href="enterprises.html" >发布企业</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">banner图</a>
                    <ul class="sub-menu">
                        <li><a href="banners.html" th:href="@{/backend/load/banners}">banner图</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">考试指南</a>
                    <ul class="sub-menu">
                        <li><a href="guides.html" th:href="@{/backend/load/examGuide}">考试指南</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">友情链接</a>
                    <ul class="sub-menu">
                        <li><a href="links.html" th:href="@{/backend/load/links}">友情链接</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">常见问题</a>
                    <ul class="sub-menu">
                        <li><a href="qa.html" th:href="@{/backend/load/qa}">常见问题</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">资讯动态</a>
                    <ul class="sub-menu">
                        <li><a href="messagecontents.html" th:href="@{/backend/load/messagecontents}">资讯动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">公司简介</a>
                    <ul class="sub-menu">
                        <li><a href="editenterprise.html">公司简介编辑</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">视频</a>
                    <ul class="sub-menu">
                        <li><a href="videos.html" th:href="@{/backend/load/videos}">教学视频</a></li>
                        <li><a href="精彩录制.html">精彩录制</a></li>
                        <li><a href="经验分享.html">经验分享</a></li>
                        <li><a href="其他视频.html">其他视频</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="height:30px; line-height:30px;">师资力量</a>
                    <ul class="sub-menu">
                        <li><a href="tutors.html">师资力量</a></li>
                    </ul>
                </li>
            </ul>
            </div>
            <div id="tsidebar2">
            <ul class="sidebar-list">
                <li>
                    <a href="#" style="height:30px; line-height:30px;">管理代理商</a>
                    <ul class="sub-menu">
                        <li><a href="certificateapplications.html">申请领证列表</a></li>
                        <li><a href="agents.html">代理商列表</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
 </div>
