<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/lunbo.css"/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/schoolm.css"/>
    <script src="../mobile/js/TouchSlide.1.1.js"></script>
    <title>云商学院动态资讯</title>
</head>

<body style="background-color:#E8E8E8;">
<div class="daoh">
    <ul>
        <li><a href="#" th:href="@{/pc/index}">学院首页</a></li>
        <li><a href="#" th:href="@{/pc/loadVideo}">教学视频</a></li>
        <li><a href="javascript:void(0)">动态资讯</a></li>
        <li><a href="#" th:href="@{/pc/loadTutors}">师资力量</a></li>
        <li><a href="#" th:href="@{/pc/loadMemberRegister}">我要报名</a></li>
    </ul>
</div>

<div>
    <p><img style="width:100%" src="../mobile/images/bannerjs.png" /></p>
    <p style="width:50%; float:left"><img style="width:100%"  src="../mobile/../mobile/images/th1.jpg" /></p>
    <p style="width:50%; float:left"><img style="width:100%"  src="../mobile/../mobile/images/th2.jpg" /></p>
    <p style="width:50%; float:left"><img style="width:100%"  src="../mobile/../mobile/images/th3.jpg" /></p>
    <p style="width:50%; float:left"><img style="width:100%"  src="../mobile/../mobile/images/th4.jpg" /></p>
    <p style="height:5px; clear:both;"></p>
    <div class="jsjj">
        <p style="color:#333; font-size:14px;">
            <b>林小希：</b>长生鸟珍珠博士微商学院院长、曾在阿里巴巴集团B2B工作。 <br/>
            <b>郭向峰：</b>浙江灵岩文化创意有限公司董事、浙江大学电商网店运营班特聘讲师、电子商务实战运营专家、微创汇、向友汇社群发起人、创客汇副秘书长。<br/>
            <b>汤&nbsp;&nbsp; 晓：</b> 唛田文化总经理、唛田网络首席合伙人、品牌营销策划与微分销专家、微信营销与社会化新媒体营销专家；畅销书《钱多多掌柜奋斗记》和《完美团队成功记》。<br/>
            <b>龙成东：</b>杭州熬思管理咨询有限公司总经理、老板集团（老板油烟机）特别培训顾问、微商实战系列课程导师，曾经培训过900多家企业。
        </p>

    </div>
</div>
<p style="clear:both; height:50px;"></p>
</body>
</html>
