<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/lunbo.css"/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/schoolm.css"/>
    <script src="../mobile/js/TouchSlide.1.1.js"></script>
    <script src="../mobile/js/jquery-1.8.3.min.js"></script>
    <title>云商学院首页</title>
</head>
<body>

<div class="xwlv_tab_wrap">
    <span class="xwlv_tab_inner">
        <a class="on" href="yun-index_mobile.html" th:href="@{/pc/index}">首页</a>
        <a href="yun-jxspnewone_mobile.html" th:href="@{/pc/loadVideo}">视频</a>
        <a href="yun-dongtaizx_mobile.html" th:href="@{/pc/loadMessageContent}">资讯</a>
        <a href="yun-shizi_mobile.html" th:href="@{/pc/loadTutors}">师资</a>
        <a href="yun-baomin_mobile.html" th:href="@{/pc/loadMemberRegister}">报名</a>
    </span>
</div>
<div style="height: 44px;"></div>



<!--1-->
<div>
    <p><img src="../mobile/images/pc1.jpg" width="100%"/></p>

    <p class="pcone"><img src="../mobile/images/font1.png" width="100%"/></p>
    <a href="" th:href="@{/pc/loadMemberRegister}">
        <div class="buttomone"><b>我要报名</b></div>
    </a>
</div>
<!--1-->
<!--2-->
<div>
    <div class="bigfour">
        <p class="pctwo"><img src="../mobile/images/font2.png" th:src="@{../mobile/../mobile/images/font2.png}"
                              width="100%"/></p>

        <p style="height:20px"></p>
        <ul>
            <li><img src="../mobile/images/topone.png"/></li>
            <li><img src="../mobile/images/toptwo.png"/></li>
            <li><img src="../mobile/images/topthree.png"/></li>
            <li><img src="../mobile/images/topfour.png"/></li>
        </ul>
        <p><img width="100%" src="../mobile/images/pc2.jpg"/></p>
    </div>
</div>
<!--2-->
<!--3-->
<div style="background:url(../mobile/images/pc3.jpg) no-repeat;  background-size: 100%; padding-top:20px;">
    <p class="massages">动态资讯</p>

    <p class="more"><a href="../mobile/yun-dongtaizx_mobile.html" th:href="@{/pc/loadMessageContent}">查看全部＞ </a></p>

    <p class="on"></p>

    <p style="clear:both"></p>

    <p class="xian"></p>
    <ul th:remove="all-but-first">
        <li th:each="g:${messageContentList}">
            <a href="#" th:href="@{/pc/loadDetailMessageContent(id=${g.id})}">
                <ul class="ulmages">
                    <li class="ulliimg"><img src="../mobile/images/listone.png" th:src="${g.pictureUri}"/></li>
                    <li class="ullifont">
                        <p class="ullip1"><b th:text="${g.title}">通过微商运营师的培训能学到什么？</b></p>

                        <p class="ullip2" th:text="${g.synopsis}">微商运营师的培训考证旨在使学员在掌握微商概念及基本运行
                            模式后，且通过视频学习、课堂讲授、案例分析和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析和解决微信营销中实际存在的营销推广问题的能力。</p>

                        <p class="ptop">
                            <span class="newtime" th:text="${#calendars.format(g.lastUploadDate,'yyyy.MM.dd')}">2015.01.01</span>
                        </p>
                    </li>
                </ul>
            </a>

            <p style="height:5px; clear:both"></p>
        </li>
        <li>
            <ul class="ulmages">
                <li class="ulliimg"><img src="../mobile/images/listone.png"/></li>
                <li class="ullifont">
                    <p class="ullip1"><b>通过微商运营师的培训能学到什么？</b></p>

                    <p class="ullip2">微商运营师的培训考证旨在使学员在掌握微商概念及基本运行
                        模式后，且通过视频学习、课堂讲授、案例分析和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析和解决微信营销中实际存在的营销推广问题的能力。</p>

                    <p class="ptop"><span class="newmages">最新消息</span> <span class="newtime">2015.01.01</span></p>
                </li>
            </ul>
            <p style="height:5px; clear:both"></p>
        </li>
        <li>
            <ul class="ulmages">
                <li class="ulliimg"><img src="../mobile/images/listone.png"/></li>
                <li class="ullifont">
                    <p class="ullip1"><b>通过微商运营师的培训能学到什么？</b></p>

                    <p class="ullip2">微商运营师的培训考证旨在使学员在掌握微商概念及基本运行
                        模式后，且通过视频学习、课堂讲授、案例分析和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析和解决微信营销中实际存在的营销推广问题的能力。</p>

                    <p class="ptop"><span class="newmages">最新消息</span> <span class="newtime">2015.01.01</span></p>
                </li>
            </ul>
            <p style="height:5px; clear:both"></p>
        </li>
        <li>
            <ul class="ulmages">
                <li class="ulliimg"><img src="../mobile/images/listone.png"/></li>
                <li class="ullifont">
                    <p class="ullip1"><b>通过微商运营师的培训能学到什么？</b></p>

                    <p class="ullip2">微商运营师的培训考证旨在使学员在掌握微商概念及基本运行
                        模式后，且通过视频学习、课堂讲授、案例分析和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析和解决微信营销中实际存在的营销推广问题的能力。</p>

                    <p class="ptop"><span class="newmages">最新消息</span> <span class="newtime">2015.01.01</span></p>
                </li>
            </ul>
            <p style="height:5px; clear:both"></p>
        </li>
    </ul>
    <p style="height:20px; clear:both"></p>
</div>
<!--3-->

<!--4-->
<div style="padding-top:20px;">
    <p style="width:80%; margin:0 auto;"><img style="width:100%" src="../mobile/images/font4.png"/></p>
    <ul class="ulfour">
        <p class="titfour"><b>线上视频学习：在线学习8课时，每节课约30分钟</b></p>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10001)}">
                <p class="liblue"><b>第一课</b><br/>
                    微电商&nbsp;&nbsp;大生意
                </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10002)}">
                <p class="liblue"><b>第二课</b><br/>
                    微信基础入门和微商技巧
                </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10003)}">
                <p class="liblue"><b>第三课</b><br/>
                    朋友圈营销的六脉神剑
                </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10004)}">
                <p class="liblue"><b>第四课</b><br/>
                    微商快速引流的三大法则
                </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10005)}">
                <p class="liblue"><b>第五课</b><br/>
                    公众账号的基本玩法
                </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10006)}">
                <p class="liblue"><b>第六课</b><br/>
                    快速构建微营销的赢利模式
                </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10007)}">
                <p class="liblue"><b>第七课</b><br/>
                    微店日常管理和团队建设
                </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=10008)}">
                <p class="liblue"><b>第八课</b><br/>
                    掘金微商财富的17个秘诀
                </p>
            </a>
        </li>
    </ul>
    <ul class="ulfour">
        <p class="titfour"><b>线下培训：2天10课时的集中面授</b></p>
        <li>
            <p class="lipink"><b>第一课</b><br/>
                微商行业的法律安全 </p>
        </li>
        <li><p class="lipink">
            <b>第二课</b><br/>
            微商运营师概要和行业前景
        </p>
        </li>
        <li>
            <p class="lipink"><b>第三课</b><br/>
                微商基础入门知识 </p>
        </li>
        <li>
            <p class="lipink"><b>第四课</b><br/>
                订阅号,服务号的申请和运用 </p>
        </li>
        <li>
            <p class="lipink"><b>第五课</b><br/>
                选好产品就是成功的一半 </p>
        </li>
        <li>
            <p class="lipink"><b>第六课</b><br/>
                玩转朋友圈的营销技巧 </p>
        </li>
        <li>
            <p class="lipink"><b>第七课</b><br/>
                线上线下引流冲业绩 </p>
        </li>
        <li>
            <p class="lipink"><b>第八课</b><br/>
                打造微商的金牌团队 </p>
        </li>
        <li>
            <p class="lipink"><b>第九课</b><br/>
                微商案例深度剖析 </p>
        </li>
        <li>
            <p class="lipink"><b>第十课</b><br/>
                微商金口才+考前辅导 </p>
        </li>
    </ul>
    <p style="height:25px; clear:both"></p>
</div>
<!--4-->
<!--5-->
<div>
    <p style="margin:0 auto;width:90%"><img style="width:100%" src="../mobile/images/font5.png"/></p>

    <div class="wd">
        <p><b>通过微商运营师的培训能学到什么？</b></p>

        <p style="border-bottom:1px solid #fff;"></p>

        <p>
            微商运营师的培训考证旨在使学员在掌握微商概念及基本运行模式后，且通过视频学习、课堂讲授、案例分析和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析和解决微信营销中实际存在的营销推广问题的能力。</p>
    </div>
    <div class="wdtwo">
        <p><b>什么人可以报考微商运营师？</b></p>

        <p style="border-bottom:1px solid #fff;"></p>

        <p>总裁、CEO等企业高管；市场总监、营销总监、运营总监、品牌总监；企业公关负责人、网络营销负责人、产品经理；企事业单位负责运营的各类行政人员；有志于从事微商创业的大学生。</p>
    </div>
    <div class="wdthree">
        <p><b>考试合格后颁发的证书是什么？</b></p>

        <p style="border-bottom:1px solid #fff;"></p>

        <p>微商运营师的证书由中华人民共和国工业和信息化部颁发，证书的含金量高。随着微商的进一步规范化与合法化管理，该证书有望成为微商从业执业的许可证。</p>
    </div>
    <div class="wdfour">
        <p><b>为什么选择我们？</b></p>

        <p style="border-bottom:1px solid #fff;"></p>

        <p>1.考前设有辅导课;<br/>
            2.可获得每期50人以上的人脉资源;<br/>
            3.专业级的互联网专家和微商大咖前来授课;<br/>
            4.可优先参加火图科技和伙聚教育所有线下活动;<br/>
            5.可在云商学院官网发布其个人信息，优先推荐工作岗位和微商大品牌代理资格;<br/>

            6.如果一次参加培训没有通过，下一次免费参加培训，直到考过为止。</p>
    </div>
</div>
<!--5-->
<!--6-->
<div>
    <p style="margin:0 auto;width:90%; padding-top:20px;"><img style="width:100%" src="../mobile/images/font6.png"/></p>

    <div id="picScroll" class="picScroll">
        <div class="bd">
            <ul>
                <li><a href="#"> <img src="../mobile/images/logo/k1.jpg"/> </a></li>
                <li><a href="#"> <img src="../mobile/images/logo/k2.jpg"/> </a></li>
                <li><a href="#"> <img src="../mobile/images/logo/k3.jpg"/> </a></li>
            </ul>
            <ul>
                <li><a href="#"> <img src="../mobile/images/logo/k4.jpg"/> </a></li>
                <li><a href="#"> <img src="../mobile/images/logo/k5.jpg"/> </a></li>
                <li><a href="#"> <img src="../mobile/images/logo/k6.jpg"/> </a></li>
            </ul>
            <ul>
                <li><a href="#"> <img src="../mobile/images/logo/k7.jpg"/> </a></li>
                <li><a href="#"> <img src="../mobile/images/logo/k8.jpg"/> </a></li>
                <li><a href="#"> <img src="../mobile/images/logo/k9.jpg"/> </a></li>
            </ul>
        </div>
        <div class="hd" style="display:block;"><span class="next"></span>
            <ul>
            </ul>
            <span class="prev"></span></div>
    </div>
    <p style="margin:0 auto;width:100%"><img style="width:100%" src="../mobile/images/pc6.jpg"/></p>
    <script type="text/javascript">
        TouchSlide({
            slideCell: "#picScroll",
            titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            autoPage: true, //自动分页
            pnLoop: "false", // 前后按钮不循环
            switchLoad: "_src" //切换加载，真实图片路径为"_src"
        });
        /*动画效果暂定解决方案
         //以下是导航栏的动画效果实现
         var startY;
         var moveEndY;
         var Y;
         var $body = $("body");
         // 线程 IDs
         var mouseover_tid = [];
         var mouseout_tid = [];
         var index=0;
         $body.on("touchstart", function(e) {
             for(var i in mouseover_tid){
             clearInterval(mouseover_tid[i]);}
             mouseover_tid = [];
             index=0;
             startY = e.originalEvent.changedTouches[0].pageY;
         });
         $body.on("touchmove", function(e) {
             mouseover_tid[index++] = setInterval(function() {
             moveEndY = e.originalEvent.changedTouches[0].pageY;
             Y = moveEndY - startY;
             if (Y>0) {
                $(".daoh").slideDown(400);
             }
             else {
                $(".daoh").slideUp(400);
             }
             for(var i in mouseover_tid){
                 clearInterval(mouseover_tid[i]);}
                 mouseover_tid = [];
                 index=0;
             }, 100);
         });*/
    </script>
</div>
<!--6-->
</body>
</html>
