<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/lunbo.css"/>
    <link rel="stylesheet" type="text/css" href="../mobile/css/schoolm.css"/>
    <script src="../mobile/js/TouchSlide.1.1.js"></script>
    <script src="../mobile/js/jquery-1.8.3.min.js"></script>
    <title>云商学院视频页</title>
    <script>
        function changeVideSize() {
            var height = $(window).height();
            var width = $(window).width();
            $("#videoSize").css("width", width);
            $("#videoSize").css("height", width * 0.556);
        }
        $(function() {
            changeVideSize();
        })
        $(function () {
            $(window).bind("resize",function(){
                changeVideSize();
            });

        });
    </script>
</head>
<body>
<div class="xwlv_tab_wrap">
    <span class="xwlv_tab_inner">
        <a href="yun-index_mobile.html" th:href="@{/pc/index}">首页</a>
        <a class="on" href="yun-jxspnewone_mobile.html" th:href="@{/pc/loadVideo}">视频</a>
        <a href="yun-dongtaizx_mobile.html" th:href="@{/pc/loadMessageContent}">资讯</a>
        <a href="yun-shizi_mobile.html" th:href="@{/pc/loadTutors}">师资</a>
        <a href="yun-baomin_mobile.html" th:href="@{/pc/loadMemberRegister}">报名</a>
    </span>
</div>
<div style="height: 44px;"></div>
<div>
    <p class="sptit" th:text="${video.videoName}" style="margin-top: 10px; margin-bottom: 10px;"><b>第七课：</b>
        微店日常管理和团队建设7-1</p>

    <div id="videoSize">
        <iframe allowScriptAccess="always" quality="high" height="100%" width="100%" th:src="${video.playUrl}"
                src="http://player.youku.com/embed/XMTMwNjA4MzgzMg==" allowfullscreen="true">
        </iframe>
    </div>
    <!--<p><img style="width:18px; height:18px; margin-right:5px;" src="../mobile/images/iconfont-bofang.png"/>正在播放</p>-->
    <span style="color: #999;font-size:12px; line-height: 16px; margin-left:7px; margin-top: 5px; clear: both;">如果全屏按钮无效，请手动横屏放大观看！</span>

    <p class="fontjs" style="margin-top: 10px; text-indent:2em;">
        微商是一门独立的新兴学科，具有较强的理论性与实践操作性。微商运营师的培训考证旨在使学员在掌握微商概念及基本运行模式后，通过视频学习、课堂讲授、案例分析和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析和解决微信营销中实际存在的营销推广问题的能力。
        2014为微商元年，2015直接迎来了微商的爆发！<br/>
        <b>咨询热线:13575749204 樊老师</b></p>

    <div style="width:96%; margin:0 auto;">
        <p style="border-bottom:1px solid #ddd; padding:5px;"></p>

        <div th:remove="all-but-first">
            <ul th:each="v:${videoList}">
                <p style="clear:both; height:10px;"></p>
                <li style="width:30%; float:left;margin-right: 6px;">
                    <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=${v.videoNo})}">
                        <img style="width:100%" src="../mobile/images/3.png" th:src="${v.thumbnail}"/>
                    </a>
                </li>
                <li style="width:68%; float:left; font-size:14px;">
                    <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=${v.videoNo})}"
                       th:text="${v.videoName}"><b>第一节</b><br/>微店日常管理和团队建设7-1</a>
                </li>
            </ul>
            <ul>
                <p style="clear:both; height:10px;"></p>
                <li style="width:30%; float:left;margin-right: 6px;"><img style="width:100%"
                                                                          src="../mobile/images/3.png"/></li>
                <li style="width:68%; float:left; font-size:14px;"><b>第一节</b><br/>微店日常管理和团队建设7-1</li>
            </ul>
            <ul>
                <p style="clear:both; height:10px;"></p>
                <li style="width:30%; float:left;margin-right: 6px;"><img style="width:100%"
                                                                          src="../mobile/images/3.png"/></li>
                <li style="width:68%; float:left; font-size:14px;"><b>第一节</b><br/>微店日常管理和团队建设7-1</li>
            </ul>
        </div>

        <p style="height:80px; clear:both"></p>
    </div>
</div>
</body>
</html>
