<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>代理商中心</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js" th:src="@{/pc/js/jquery.min.js}"></script>
    <script rel="stylesheet" type="text/javascript" src="js/baseValue.js" th:src="@{/pc/js/baseValue.js}"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script rel="stylesheet" type="text/javascript" src="js/indexuser.js" th:src="@{/pc/js/indexuser.js}"></script>
    <script rel="stylesheet" type="text/javascript">
        $(function(){
            $("#btn_addMember").click(addMember);
        });
    </script>

</head>

<body style=" background-color:#f0f0f0; background:url(images/banner2.jpg) no-repeat; background-size:cover;">
<div style="min-height:834px">
    <div style="background-color:#fff;">
        <div style="background-color:#fff; font-size:14px;" class="header"><img src="images/logo.png" class="logoimg"/>
            <ul class="navi">
                <li><a href="yun-index.html">首页</a></li>
                <li><a href="javascript:void(0)">公司简介</a></li>
                <li><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
                <li><a href="javascript:void(0)">师资力量</a></li>
                <li><a href="javascript:void(0)">教学视频</a></li>
                <li><a href="javascript:void(0)">考试指南</a></li>
                <li><a href="javascript:void(0)">招|应聘</a></li>
                <li style="padding:0px 0px 0px 20px;display:none"><a href="javascript:void(0)"
                                                                     onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">登录</a>
                </li>
                <li id="userLi" style="padding:0px;display: none" th:style="${style}">
                    <a id="memberLi" href="#" th:href="@{/pc/loadPersonalCenter}"><img class="lodingimg" src="images/toux.png" width="100%"/></a><!--会员头像-->
                    <p class="zhizhen"><img src="images/lodingj.png" width="18px" height="7px"/></p>

                    <p class="lbpo"><!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                        <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a>
                        <a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                        <a href="#" th:href="@{/pc/login}">退出</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p style=" height:60px;"></p>

    <p style="clear:both"></p>

    <div class="ysoo"><img class="toux" src="images/toux.png" width="80px" height="80px"/>
        <ul style="margin-left:115px; margin-top: -46px;">
            <li style="float:left;">
                <p style="font-size:16px"><b th:text="'姓名：'+${#authentication.name}">姓名：杭州地区总代理</b></p>
            </li>
        </ul>
        <p style="clear:both"></p>
        <ul class="bobox">
            <li class="lileft">
                <!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                <p th:text="'号码：'+  (${#authentication.principal.phoneNo}==null?'暂无':${#authentication.principal.phoneNo})">号码：15063568971</p>

                <p th:text="'注册时间：'+${#calendars.format(#authentication.principal.registerDate,'yyyy-MM-dd')}">注册时间：2105.01.01</p>
            </li>
            <li class="newr liright">
                <p>总人数：<b th:text="${totalMembers}">900</b></p>

                <p>已发证：<b th:text="${#authentication.principal.sendCertificateNumber}">400</b></p>

                <p>剩余证：<b th:text="${#authentication.principal.certificateNumber}-${#authentication.principal.sendCertificateNumber}">200</b></p>
            </li>
        </ul>
    </div>
    <div style="display: box;display: -ms-box; display: -webkit-box; display: flex; display: -ms-flexbox;display: -webkit-flex;"
         class="ystwo">
        <div class="ysykone bg on" th:class="${navigation}=='bmxx'? 'ysykone bg on':'ysykone bg'"><a href="#" th:href="@{/pc/searchMembers}"><span>报名信息</span> </a></div>
        <div class="ysyktwo bg" th:class="${navigation}=='xxtz'? 'ysyktwo bg on':'ysyktwo bg'"><a href="#"><span>消息通知</span> </a></div>
        <div class="ysykthree bg" th:class="${navigation}=='bjgl'? 'ysykthree bg on':'ysykthree bg'"><a href="#" th:href="@{/pc/loadNoClassMembers}"><span>班级管理</span> </a></div>
        <div class="ysykfour bg" th:class="${navigation}=='bygl'? 'ysykfour bg on':'ysykfour bg'"><a href="#" th:href="@{/pc/graduationMembers}"><span>毕业管理</span> </a></div>
    </div>

    <div class="ysthree">
        <!--报名信息-->
        <div style="display:block;" th:style="${navigation}=='bmxx'? 'display:block':'display:none'" class="main-wrapi">
            <div style=" float: right; margin-right: 14px;margin-bottom: 6px;margin-top:5px;" class="search-content">
                <form action="#" th:action="@{/pc/searchMembers}" method="post">
                    <p style="height:5px;"></p>
                    <table style="float: left;margin-right: 425px;" class="search-tab">
                        <tr>
                            <th width="10"></th>
                            <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                            <td><input title="" class="ysss si" name="sub" value="确认收费" type="submit"/></td>
                            <td><input id="btn_newMember" title="" class="ysss si" name="sub" value="新增学员" type="button"/></td>
                        </tr>
                    </table>
                    <table class="search-tab">
                        <tr>
                            <th width="10"></th>
                            <td><select title="" name="searchSort"
                                        style=" height:29px;padding: 0px 4px; border:1px solid #ccc; vertical-align:middle">
                                <option value="all">全部</option>
                                <option value="payed">交费状态</option>
                                <option value="passed">考试状态</option>
                                <option value="haveLicense">领证状态</option>
                            </select></td>
                            <td><input style="border: 1px solid #ddd;" title="" class="yssp " placeholder="关键字"
                                       name="keywords" value="" id="" type="text"/></td>
                            <td><input title="" class="ysss" name="sub" value="搜索" type="submit"/></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="result-wrap">
                <form name="myform" id="myform" method="post">
                    <div class="result-content">
                        <table class="result-tab" width="100%">
                            <tr>
                                <th style="width:100px">选择</th>
                                <th style="width:100px">序号</th>
                                <th style="width:100px">姓名</th>
                                <th style="width:100px">区域</th>
                                <th style="width:200px">电话</th>
                                <th style="width:150px">交费状态</th>
                                <th style="width:200px">报名时间</th>
                                <th style="width:150px">考试状态</th>
                                <th style="width:150px">领证状态</th>
                                <th style="width:200px">班级</th>
                                <th style="width:80px;">操作</th>
                            </tr>
                            <tr th:remove="all">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td title="">女女女</td>
                                <td title="">杭州</td>
                                <td title="">125656256356</td>
                                <td title="">是</td>
                                <td title="">2015.04.01</td>
                                <td title="">--</td>
                                <td title="">--</td>
                                <td title="">201504第一期</td>
                                <td><a class="link-update" href="#">查看<br/>
                                </a> <a class="link-update" href="#">删除</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td title="">女女女</td>
                                <td title="">杭州</td>
                                <td title="">125656256356</td>
                                <td title="">是</td>
                                <td title="">2015.04.01</td>
                                <td title="">--</td>
                                <td title="">--</td>
                                <td title="">201504第一期</td>
                                <td><a class="link-update" href="#">查看<br/>
                                </a> <a class="link-update" href="#">删除</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td title="">女女女</td>
                                <td title="">杭州</td>
                                <td title="">125656256356</td>
                                <td title="">是</td>
                                <td title="">2015.04.01</td>
                                <td title="">--</td>
                                <td title="">--</td>
                                <td title="">201504第一期</td>
                                <td><a class="link-update" href="#">查看<br/>
                                </a> <a class="link-update" href="#">删除</a></td>
                            </tr>

                            <tr th:each="g:${allMemberList}">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td th:text="${g.id}">01</td>
                                <td th:text="${g.realName}" title="">女女女</td>
                                <td th:text="${g.agent.area}" title="">杭州</td>
                                <td th:text="${g.phoneNo}" title="">125656256356</td>
                                <td th:text="${g.payed}?'是':'否'" title="">是</td>
                                <td th:text="${#calendars.format(g.applyDate,'yyyy-MM-dd')}" title="">2015.04.01</td>
                                <td th:text="${g.passed}?'是':'否'" title="">--</td>
                                <td th:text="${g.haveLicense}?'是':'否'" title="">--</td>
                                <td th:text="${g.theClass}==null? '未分配':${g.theClass.className}" title="">201504第一期</td>
                                <td><a class="link-update" href="#"
                                       th:href="@{/pc/detailMember(id=${g.id})}">查看</a><br/>
                                    <a class="link-update" href="#"
                                       th:href="@{/pc/delMember(id=${g.id},pageNo=${pageNo},keywords=${keywords},searchSort=${searchSort})}">删除</a>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align:center; margin-top:10px;">
                            <a href="#" th:href="@{/pc/searchMembers(pageNo=${pageNo}-1,keywords=${keywords},searchSort=${searchSort})}">上一页</a>
                            <a href="#" th:href="@{/pc/searchMembers(pageNo=${pageNo}+1,keywords=${keywords},searchSort=${searchSort})}">下一页</a>
                            <span th:text="${totalRecords}">2</span> 条 <span th:text="${pageNo}+1">1</span>/<span th:text="${totalPages}">1</span> 页
                        </div>
                        <span style="color:blue" th:text="${msgInfo}"/>
                        <span style="color:red" th:text="${errInfo}"/>
                    </div>
                </form>
            </div>
        </div>

        <!--报名信息end-->

        <!--消息通知-->

        <div style="display:none" class="ysthree">
            <div class="main-wrapi">
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
                <div class="ystwolist ysys">
                    <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
                </div>
            </div>
        </div>

        <!--消息通知end-->

        <!--班级管理-->

        <div id="noClassMemberDiv" style="display:block;" th:style="${navigation}=='bjgl'? 'display:block;':'display:none;'" class="ysthree">
            <div class="main-wrapi">
                <div style=" float: right; margin-right: 14px;margin-bottom: 6px;" class="search-content">
                    <div style=" text-align:center;display: box;display: -ms-box; display: -webkit-box; display: flex; display: -ms-flexbox;display: -webkit-flex;"
                         class="ystwo">
                        <div>
                            <input title="" class="newfb ysss" name="sub" value="未分班" type="submit"/>
                        </div>
                        <div>
                            <input title="" class="newfb ysss" name="sub" value="已有班级" type="submit"/>
                        </div>
                    </div>
                    <form action="#" method="post" th:action="@{/pc/loadNoClassMembers}">
                        <p style="height:5px;"></p>
                        <table style="float: left;margin-right:520px;" class="search-tab">
                            <tr>
                                <th width="10"></th>
                                <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                <td><input title="" class="ysss" name="sub" value="安排班级" type="button" onclick="noClassMemberArrageClass()"/></td>
                                <script>
                                    function noClassMemberArrageClass(){
                                        var $noClassMemberArrageClassDiv = $("#noClassMemberArrageClassDiv");
                                        $noClassMemberArrageClassDiv.show();
                                    }
                                </script>
                            </tr>
                        </table>
                        <table class="search-tab">
                            <tr>
                                <th width="10"></th>
                                <td><select title="searchSort" name="searchSort" id="noClassMemberSearchSort" style=" height:29px;padding: 0 4px; border:1px solid #ccc; vertical-align:middle">
                                    <option value="all">全部</option>
                                    <option value="realName">姓名</option>
                                    <option value="area">区域</option>
                                    <option value="phoneNo">电话</option>
                                </select></td>
                                <td><input style="border: 1px solid #ddd;" title="" class="yssp " placeholder="关键字" name="keywords" value="" th:value="${keywords}"  type="text"/></td>
                                <td><input title="" class="ysss" name="sub" value="搜索" type="submit"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="result-wrap">
                    <form name="myform" class="myform" method="post">
                        <div class="result-content">
                            <table class="result-tab" width="100%">
                                <tr>
                                    <th style="width:80px">选择</th>
                                    <th style="width:100px">序号</th>
                                    <th style="width:80px">姓名</th>
                                    <th style="width:300px">区域</th>
                                    <th style="width:300px">电话</th>
                                    <th style="width:80px;">操作</th>
                                </tr>
                                <tr th:remove="all">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td>01</td>
                                    <td>小米</td>
                                    <td title="">杭州</td>
                                    <td>15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td>01</td>
                                    <td>小米</td>
                                    <td title="">杭州</td>
                                    <td>15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td>01</td>
                                    <td>小米</td>
                                    <td title="">杭州</td>
                                    <td>15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td>01</td>
                                    <td>小米</td>
                                    <td title="">杭州</td>
                                    <td>15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td>01</td>
                                    <td>小米</td>
                                    <td title="">杭州</td>
                                    <td>15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td>01</td>
                                    <td>小米</td>
                                    <td title="">杭州</td>
                                    <td>15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td>0123456789</td>
                                    <td>小米</td>
                                    <td title="">杭州</td>
                                    <td>15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr th:each="g:${allNoClassMembersList}">
                                    <td><input title="" class="u109_input" type="checkbox" value="checkbox"/></td>
                                    <td th:text="${g.id}">01</td>
                                    <td th:text="${g.realName}">小米</td>
                                    <td th:text="${g.agent.area}">杭州</td>
                                    <td th:text="${g.phoneNo}">15236699696</td>
                                    <td><a class="link-update" href="#">查看</a></td>
                                </tr>
                                <tr style="display: none;">
                                    <td><input title="noClassMember_hidden_text" type="text" id="noClassMember_hidden_text" value="all" th:value="${searchSort}"/></td>
                                </tr>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        var $searchSort = $("#noClassMemberSearchSort");
                                        var searchSortValue = $("#noClassMember_hidden_text").val();
                                        $searchSort.val(searchSortValue);
                                    })
                                </script>
                            </table>
                            <div style="text-align:center; margin-top:10px;">
                                <a href="#" th:href="@{/pc/loadNoClassMembers(pageNo=${pageNo}-1,keywords=${keywords},searchSort=${searchSort})}">上一页</a>
                                <a href="#" th:href="@{/pc/loadNoClassMembers(pageNo=${pageNo}+1,keywords=${keywords},searchSort=${searchSort})}">下一页</a>
                                <span th:text="${totalRecords}">2</span> 条 <span th:text="${pageNo}+1">1</span>/<span th:text="${totalPages}">1</span> 页
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--班级管理end-->

        <!--毕业管理-->

        <div style="display:none" class="main-wrapi">
            <div style="float: right;width:1000px;margin-bottom: 6px;" class="search-content">
                <form action="#" method="post">
                    <p style="height:5px;"></p>
                    <table style="float: left;margin-right:412px;" class="search-tab">
                        <tr>
                            <th width="10"></th>
                            <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                            <td><input title="" class="ysss" name="sub" value="确认通过" type="submit"/></td>
                        </tr>
                    </table>
                    <p style="clear:both"></p>
                    <table style="float: right; margin-top:-31px" class="search-tab">
                        <tr>
                            <th width="10"></th>
                            <td><select title="" name="search-sort" id=""
                                        style=" height:29px;padding: 0px 4px; border:1px solid #ccc; vertical-align:middle">
                                <option value="">全部</option>
                            </select></td>
                            <td><input style="border: 1px solid #ddd;" title="" class="yssp " placeholder="关键字"
                                       name="keywords" value="" id="" type="text"/></td>
                            <td><input title="" class="ysss" name="sub" value="搜索" type="submit"/></td>
                        </tr>
                    </table>
                </form>
            </div>
            <p style="clear:both"></p>

            <div class="result-wrap">
                <form name="myform" id="myform" method="post">
                    <div class="result-content">
                        <table class="result-tab" width="100%">
                            <tr>
                                <th style="width:80px">选择</th>
                                <th style="width:100px">序号</th>
                                <th style="width:100px">姓名</th>
                                <th style="width:100px">区域</th>
                                <th style="width:200px">电话</th>
                                <th style="width:200px">毕业</th>
                                <th style="width:300px">班级</th>
                                <th style="width:200px;">操作</th>
                            </tr>
                            <tr>
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td>小米</td>
                                <td title="">杭州</td>
                                <td>1520365652</td>
                                <td></td>
                                <td>201504第一期</td>
                                <td><a class="link-update" href="#">通过</a><br/>
                                    <a class="link-update" href="#">未通过</a><br/>
                                    <a class="link-update" href="#">查看</a></td>
                            </tr>
                            <tr>
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td>小米</td>
                                <td title="">杭州</td>
                                <td>1520365652</td>
                                <td></td>
                                <td>201504第一期</td>
                                <td><a class="link-update" href="#">通过</a><br/>
                                    <a class="link-update" href="#">未通过</a><br/>
                                    <a class="link-update" href="#">查看</a></td>
                            </tr>
                            <tr>
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td>小米</td>
                                <td title="">杭州</td>
                                <td>1520365652</td>
                                <td></td>
                                <td>201504第一期</td>
                                <td><a class="link-update" href="#">通过</a><br/>
                                    <a class="link-update" href="#">未通过</a><br/>
                                    <a class="link-update" href="#">查看</a></td>
                            </tr>
                            <tr>
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td>小米</td>
                                <td title="">杭州</td>
                                <td>1520365652</td>
                                <td></td>
                                <td>201504第一期</td>
                                <td><a class="link-update" href="#">通过</a><br/>
                                    <a class="link-update" href="#">未通过</a><br/>
                                    <a class="link-update" href="#">查看</a></td>
                            </tr>
                            <tr>
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td>小米</td>
                                <td title="">杭州</td>
                                <td>1520365652</td>
                                <td></td>
                                <td>201504第一期</td>
                                <td><a class="link-update" href="#">通过</a><br/>
                                    <a class="link-update" href="#">未通过</a><br/>
                                    <a class="link-update" href="#">查看</a></td>
                            </tr>
                        </table>
                        <div style="text-align:center; margin-top:10px;"> 2 条 1/1 页</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--毕业管理end-->

</div>
<p style="clear:both"></p>

<p style="height:60px"></p>

<div class="footer">
    <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>

    <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
</div>
<div>


    <!--新增班级-->
    <div style="display:none" class="ystci">
        <div class="box-ys">
            <P align="right" style="margin:0px; padding:0px; float:right；"><a href="javascript:void(0)"
                                                                              onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
                <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

            <div class="ys500 ystx">

                <form action="#" method="post" id="myform" name="myform">
                    <div class="config-items">
                        <div class="result-content">
                            <table width="100%" class="insert-tab">
                                <tbody>
                                <tr>
                                    <th style="width:100px;"><i class="require-red">*</i>班级：</th>
                                    <td>201504第一期</td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>区域：</th>
                                    <td>杭州</td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>考试时间：</th>
                                    <td>2015.04.01</td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>考试地点：</th>
                                    <td>杭州杭州杭州</td>
                                </tr>
                                </tbody>
                            </table>
                            <p style="height:20px"></p>

                            <div class="ysright">
                                <input title="" type="submit" value="修改班级" class="btni btn-primaryi btn6 mr10"/>
                                <input type="submit" value="修改考试时间" class="btni btn-primaryi btn6 mr10"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--新增班级end-->
<!--安排班级-->

<div id="noClassMemberArrageClassDiv" style="display:none" class="ystc">
    <div class="box-ys">
        <P style="text-align:right;"><a href="#"> <FONT style="color:#111; font-size:20px;">×</FONT></a></P>
        <p style="height:20px"></p>
        <p><button class="sign-in__button ys-form__button" name="button" type="submit" onclick="noClassMemberArrageClassDiv()">新建</button></p>
        <script>
            function noClassMemberArrageClassDiv(){
                $("#noClassMemberArrageClassDiv").hide();
                $("#noClassMemberArrageClassDiv2").show();
            }
        </script>
        <p><button class="sign-in__button ys-form__button" name="button" type="submit">选择已有</button></p>
        <p><button class="sign-in__button ys-form__button" name="button" type="submit">下一步</button></p>
    </div>
</div>

<!--安排班级1end-->


<!--新建班级2-->

<div id="noClassMemberArrageClassDiv2" style="display:none" class="ystc">
    <div class="box-ys">
        <form action="#" method="post" th:action="@{/pc/isClassNameExist}">
            <P style="text-align:right;"><a href="#"> <FONT style="color:#111; font-size:20px;">×</FONT></a></P>
            <p style="height:20px"></p>
            <p><input style="width:500px;" title="" class="sign-in__field ys-form__field" name="className" placeholder="班级名称" type="text"/></p>
            <p><button class="sign-in__button ys-form__button" name="button" type="submit" onclick="noClassMemberArrageClassDiv2()">保存</button></p>
            <script>
                function noClassMemberArrageClassDiv2(){
                    $("#noClassMemberArrageClassDiv2").hide();
                }
            </script>
            <p><button class="sign-in__button ys-form__button" name="button" type="submit">安排考试时间</button></p>
            <p>123456</p>
            <span style="color:red;" th:text="${errInfo}"/>
            <p th:text="${errInfo}" align="center" style="color: red"></p>
        </form>
    </div>
</div>

<!--新建班级2end-->

<!--新增学员弹窗-->

<div style="display:none" class="ystci" id="addMember">
    <div class="box-ys">
        <P align="right" style="margin:0; padding:0; float:right;"><a href="javascript:void(0)"
                                                                          onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
            <FONT id="closeAddMember" style="color:#111; font-size:20px;">×</FONT></a></P>

        <div class="ys500 ystx">
            <p>
                <input id="txt_memberName" title="" class="ysw500 sign-in__field ys-form__field" name="realName" placeholder="姓名" type="text"/>
            </p>

            <p id="radio_memberSex" class="ysdx">&nbsp;&nbsp;&nbsp;&nbsp;性别：
                <input title="" type="radio" name="sex" checked="checked" value="1"/>
                &nbsp;男&nbsp;&nbsp;
                <input title="" type="radio" name="sex" value="0"/>
                &nbsp;女&nbsp;&nbsp;</p>

            <p>
                <input id="txt_memberphoneNo" title="" class="ysw500 sign-in__field ys-form__field" name="phoneNo" placeholder="真实手机号"
                       type="text"/>
            </p>

            <p style="text-align:center;">
                <button id="btn_addMember" class="ysw500 sign-in__button ys-form__button" name="button" type="button">
                提交
                </button>
            </p>
            <span id="add_Memberinfo" style="color:#FF3A00;padding-left:10px;"></span>
        </div>
    </div>
</div>

<!--新增学员end-->

<div id="asaimsg" class="AsaiDivShow">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form accept-charset="UTF-8" action="" class="sign-in__form user-form__form" method="post">
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="session_login" style="color:#111">用户名：</label>
                    <input title="" autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                           id="session_login" name="session[login]" placeholder="ID" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="session_password" style="color:#111">密码：</label>
                    <input title="" class="sign-in__field user-form__field" id="session_password"
                           name="session[password]" placeholder="password" type="password"/>
                </div>
                <button class="sign-in__button user-form__button" name="button" type="submit">登录<i
                        class="icon-arrow-right user-form__button-icon"></i></button>
            </form>
        </div>
    </div>
</div>
<div id="asaimsgbg" class="AsaiDivBG"></div>
</body>
</html>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>
