<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:text="${messageContent.title}">动态资讯详情</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/jquery-1.7.2.min.js" ></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" ></script>
    <script type="text/javascript" src="js/indexuser.js" ></script>
</head>
<body style=" background-color:#f0f0f0;">
    <div style="min-height:834px">
        <div style="background-color:#fff;">
        <div  class="headeri">
        <img src="images/logo.png" class="logoimgi"/>
            <ul class="navi">
                <li><a href="yun-index.html" th:href="@{/pc/index}">首页</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadCompanyIntroduction}">公司简介</a></li>
                <li><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadTutors}">师资力量</a></li>
                <li><a href="yun-jxspnew.html" th:href="@{/pc/loadVideo}">教学视频</a></li>
                <li class="active"><a href="yun-kaoshizn.html" th:href="@{/pc/loadExamGuide}">考试指南</a></li>
                <li><a href="#">招|应聘</a></li>
                <li id="loginLi" style="padding:0px 0px 0px 20px;" th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
                    <a href="javascript:void(0)" onclick="document.getElementById('asaimsg').style.display='block';document.getElementById('asaimsgbg').style.display='block'">登录</a>
                </li>
                <li id="userLi" style="padding:0px;display:none" th:style="${#authentication.name}=='anonymousUser'?'display:none':'padding:0px'">
                    <a id="memberLi" href="#" th:href="@{/pc/loadPersonalCenter}"><img class="lodingimg" src="images/toux.png" width="100%"/></a><!--会员头像-->
                    <p style="display: none" class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/></p>
                    <p style="display: none" class="lbpo"><!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                        <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a>
                        <a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                        <a href="#" th:href="@{/logout}">退出</a>
                    </p>
                </li>
            </ul>
        </div>
        </div>
        <p style=" height:40px;"></p>
        <p style="clear:both"></p>
        <div class="ysthree">
            <div class="searchLeftS xLeft">
                <!-- 活动列表 -->
                <div class="upJyBox">
                  <div class="crumb-wrapf">
                    <div class="crumb-list"><a href="yun-index.html" th:href="@{/pc/index}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">常见问题</span></div>
                    </div>
                    <ul>
                        <li>
                        <b class="ysxqbt"><span th:text="${messageContent.title}">我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</span></b>
                        <p style="clear:both;"></p>
                            <div class="mt5 c999"> <span class="fLeft"><a href="#" target="_blank">火图科技</a><span class="ml10">21小时前发起</span></span></div></li>
                        <li><img src="images/8ca155a87b4e000001c3105cfca7.jpg" width="100%" th:src="${messageContent.pictureUri}"/></li>
                        <li style="line-height:22px; font-size:14px;">
                        <span th:text="${messageContent.content}">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span></li>
                     </ul>
                </div>
            </div>
        </div>
        <p style="clear:both"></p>
        <p style=" height:60px"></p>
        <div>
            <div class="footer">
                <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>
                <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
            </div>
            <div id="asaimsg" class="AsaiDivShow">
                <P align="right" style="margin:0px; padding:0px;"> <a href="javascript:void(0)" onclick = "document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'"> <FONT style="color:#111; font-size:20px;">×</FONT></a> </P>
                <div class="sign-in">
                    <div class="user-form">
                        <form accept-charset="UTF-8" action="" class="sign-in__form user-form__form" method="post">
                            <div class="user-form__fieldset">
                                <label class="user-form__label" for="session_login" style="color:#111">用户名：</label>
                                <input title="" autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field" id="session_login" name="session[login]" placeholder="ID" type="text"/>
                            </div>
                            <div class="user-form__fieldset">
                                <label class="user-form__label" for="session_password" style="color:#111">密码：</label>
                                <input title="" class="sign-in__field user-form__field" id="session_password" name="session[password]" placeholder="password" type="password"/>
                            </div>
                            <button class="sign-in__button user-form__button" name="button" type="submit">登录<i class="icon-arrow-right user-form__button-icon"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="asaimsgbg" class="AsaiDivBG"></div>
        </div>
    </div>
</body>
</html>
