<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>代理商中心</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/pc/css/indexnew.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/pc/css/main.css}"/>
    <script type="text/javascript" src="js/jquery1.42.min.js" th:src="@{/pc/js/jquery1.42.min.js}"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" th:src="@{/pc/js/jquery.SuperSlide.2.1.1.js}"></script>
</head>

<body style=" background-color:#f0f0f0;">
<div style="min-height:800px">
    <div style=" background-color:#fff;">
        <div style=" background-color:#fff; font-size:14px;" class="header"><img src="images/logo.png" class="logoimg"/>
            <ul class="nav">
                <li><a href="yun-index.html">首页</a></li>
                <li><a href="#">公司简介</a></li>
                <li class="active"><a href="yun-baomin.html">考证报名</a></li>
                <li><a href="#">师资力量</a></li>
                <li><a href="#">教学视频</a></li>
                <li><a href="#">考试指南</a></li>
                <li><a href="#">招|应聘</a></li>
                <li id="loginLi" style="padding:0px 0px 0px 20px;"><a href="javascript:void(0)"
                                                                      onclick="document.getElementById('asaimsg').style.display='block';document.getElementById('asaimsgbg').style.display='block'">登录</a>
                </li>
                <li id="userLi" style="padding:0px;display: none" >
                    <a id="memberLi" href="#"><img class="lodingimg" src="images/toux.png" width="100%"/></a><!--会员头像-->
                    <p class="zhizhen"><img src="images/lodingj.png" width="18px" height="7px"/></p>

                    <p class="lbpo"><a href="#">个人中心</a>
                        <a href="#">修改密码</a>
                        <a href="#">退出</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p style=" height:80px;"></p>

    <p style="clear:both"></p>

    <div class="ysoo">
        <img class="toux" src="images/toux.png" width="110px" height="110px"/>
        <ul style="margin-left:149px;margin-top:-50px;">
            <li style="float:left;">
                <p style="font-size:16px"><b>姓名：杭州地区总代理</b></p>
            </li>

        </ul>
        <p style="clear:both"></p>
        <ul class="bobox">
            <li class="lileft">
                <p th:text="'号码：'+${agent.phoneNo}">号码：15063568971</p>

                <p th:text="'注册时间：'+${#calendars.format(agent.registerDate,'yyyy.MM.dd')}">注册时间：2105.01.01</p>

            </li>

            <li class="newr liright">
                <p>总人数：<b>900</b></p>

                <p>已发证：<b th:text="${agent.sendCertificateNumber}">400</b></p>

                <p>剩余证：<b th:text="${agent.certificateNumber}-${agent.sendCertificateNumber}">200</b></p>
            </li>
        </ul>
    </div>


    <div style="display: box;display: -ms-box; display: -webkit-box; display: flex; display: -ms-flexbox;display: -webkit-flex;"
         class="ystwo">
        <div class="ysykone bg on"><a href="#"><span>报名信息</span> </a></div>
        <div class="ysyktwo bg "><a href="#"><span>消息通知</span> </a></div>
        <div class="ysykthree bg"><a href="#"><span>班级管理</span> </a></div>
        <div class="ysykfour bg"><a href="#"><span>毕业管理</span> </a></div>
    </div>


    <div class="ysthree">
        <div class="main-wrapi">
            <div style=" float: right; margin-right: 14px;margin-bottom: 6px;margin-top:5px;" class="search-content">
                <form action="#" method="post">
                    <p style="height:5px;"></p>
                    <table style="float: left;margin-right: 425px;" class="search-tab">
                        <tr>
                            <th width="10"></th>
                            <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                            <td><input title="" class="ysss" name="sub" value="确认收费" type="submit"/></td>
                            <td><input title="" class="ysss" name="sub" value="新增学员" type="submit"/></td>
                        </tr>
                    </table>
                    <table class="search-tab">
                        <tr>
                            <th width="10"></th>
                            <td><select title="" name="search-sort" id=""
                                        style=" height:29px;padding: 0px 4px; border:1px solid #ccc; vertical-align:middle">
                                <option value="">全部</option>
                            </select></td>
                            <td><input style="border: 1px solid #ddd;" title="" class="yssp " placeholder="关键字"
                                       name="keywords" value="" id="" type="text"/></td>
                            <td><input title="" class="ysss" name="sub" value="搜索" type="submit"/></td>
                        </tr>
                    </table>
                </form>

            </div>
            <div class="result-wrap">
                <form name="myform" id="myform" method="post">
                    <div class="result-content">
                        <table class="result-tab" width="100%">
                            <tr>
                                <th style="width:100px">选择</th>
                                <th style="width:100px">序号</th>
                                <th style="width:100px">姓名</th>
                                <th style="width:100px">区域</th>
                                <th style="width:200px">电话</th>
                                <th style="width:150px">交费状态</th>
                                <th style="width:200px">报名时间</th>
                                <th style="width:150px">考试状态</th>
                                <th style="width:150px">领证状态</th>
                                <th style="width:200px">班级</th>
                                <th style="width:80px;">操作</th>
                            </tr>
                            <tr th:remove="all">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td title="">女女女</td>
                                <td title="">杭州</td>
                                <td title="">125656256356</td>
                                <td title="">是</td>
                                <td title="">2015.04.01</td>
                                <td title="">--</td>
                                <td title="">--</td>
                                <td title="">201504第一期</td>
                                <td><a class="link-update" href="#">查看</a><br/><a class="link-update" href="#">删除</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td title="">女女女</td>
                                <td title="">杭州</td>
                                <td title="">125656256356</td>
                                <td title="">是</td>
                                <td title="">2015.04.01</td>
                                <td title="">--</td>
                                <td title="">--</td>
                                <td title="">201504第一期</td>
                                <td><a class="link-update" href="#">查看</a><br/><a class="link-update" href="#">删除</a></td>

                            </tr>
                            <tr th:remove="all">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>
                                <td>01</td>
                                <td title="">女女女</td>
                                <td title="">杭州</td>
                                <td title="">125656256356</td>
                                <td title="">是</td>
                                <td title="">2015.04.01</td>
                                <td title="">--</td>
                                <td title="">--</td>
                                <td title="">201504第一期</td>
                                <td><a class="link-update" href="#">查看</a><br/><a class="link-update" href="#">删除</a></td>
                            </tr>


                            <tr th:each="g:${allMemberList}">
                                <td><input title="" id="u109_input" type="checkbox" value="checkbox"/></td>




                                <td th:text="${g.id}">01</td>
                                <td th:text="${g.realName}" title="">女女女</td>
                                <td th:text="${g.agent.area}" title="">杭州</td>
                                <td th:text="${g.phoneNo}" title="">125656256356</td>
                                <td th:text="${g.payed}?'是':'否'" title="">是</td>
                                <td th:text="${#calendars.format(g.applyDate,'yyyy.MM.dd')}" title="">2015.04.01</td>
                                <td th:text="${g.passed}?'是':'否'" title="">--</td>
                                <td th:text="${g.haveLicense}?'是':'否'" title="">--</td>
                                <td th:text="${g.theClass.className}" title="">201504第一期</td>

                                <td><a class="link-update" href="#">查看</a><br/><a class="link-update" href="#">删除</a></td>
                            </tr>









                        </table>
                        <div style="text-align:center; margin-top:10px;"> 2 条 1/1 页</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p style="clear:both"></p>

<p style="height:60px"></p>

<div class="footer">
    <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>

    <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
</div>
<div>
    <div id="asaimsg" class="AsaiDivShow">
        <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                             onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
            <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

        <div class="sign-in">
            <div class="user-form">
                <form accept-charset="UTF-8" action="" class="sign-in__form user-form__form" method="post">
                    <div class="user-form__fieldset">
                        <label class="user-form__label" for="session_login" style="color:#111">用户名：</label>
                        <input title="" autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                               id="session_login" name="session[login]" placeholder="ID" type="text"/>
                    </div>
                    <div class="user-form__fieldset">
                        <label class="user-form__label" for="session_password" style="color:#111">密码：</label>
                        <input title="" class="sign-in__field user-form__field" id="session_password"
                               name="session[password]" placeholder="password" type="password"/>
                    </div>
                    <button class="sign-in__button user-form__button" name="button" type="submit">登录<i>
                            class="icon-arrow-right user-form__button-icon"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div id="asaimsgbg" class="AsaiDivBG"></div>
</div>
</body>
</html>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>