<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>教学视频</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script rel="stylesheet" type="text/javascript" src="js/indexuser.js"></script>
    <script src="js/confirm.js"></script>
</head>
<style>
    .onxian {
        background-color: #4a7df2;
        height: 6px;
        width: 100px;
        clear: both;
    }

    .massages {
        float: left;
        font-size: 16px;
        line-height: 30px;
    }

    .xian {
        border-bottom: 1px solid #8E8E8E
    }
</style>
<body style="background-color:#f0f0f0">
<div style="min-height:834px">
    <div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;">
        <div class="headeri"><img src="images/logo.png" class="logoimgi"/>
            <ul class="navi">
                <li><a href="yun-index.html" th:href="@{/pc/index}">首页</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadCompanyIntroduction}">公司简介</a></li>
                <li><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadTutors}">师资力量</a></li>
                <li class="active"><a href="yun-jxspnewone.html" th:href="@{/pc/loadVideo}">教学视频</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadPeixun}">培训内容</a></li>
                <li><a href="#">招|应聘</a></li>
                <li id="loginLi" style="padding:0px 0px 0px 20px;"
                    th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'"><a
                        href="javascript:void(0)" id="showLoginForm">登录</a></li>
                <li id="userLi" style="padding:0px;display:none"
                    th:style="${#authentication.name}=='anonymousUser'?'display:none':'padding:0px'"><a id="memberLi"
                                                                                                        href="#"
                                                                                                        th:href="@{/pc/loadPersonalCenter}"><img
                        class="lodingimg" src="images/toux.png" width="100%"/></a><!--会员头像-->
                    <p style="display: none" class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/>
                    </p>

                    <p style="display: none" class="lbpo">
                        <!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                        <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a> <a href="#"
                                                                                                  th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                        <a href="#" th:href="@{/logout}">退出</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p style="height: 40px; clear: both;"></p>

    <div style=" width:1000px;" class="ysfour">
        <div>
            <ul class="topth">
                <li><img src="images/sp4.jpg" style="width:150px; height: 205px;"/></li>
                <li class="next">
                    <p class="toptitle">云商学院教学视频系列课程</p>

                    <p>讲师：<i>龙成东</i></p>

                    <p>类型：<i>微商/学习/培训</i></p>

                    <p>内容提供：<i>云商学院</i></p>

                    <p>简介：<i>微商是一门独立的新兴学科，具有较强的理论性与实践操作性。微商运营师的培训
                        考证旨在使学员在掌握微商概念及基本运行模式后，通过视频学习、课堂讲授、案例分析
                        和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析
                        和解决微信营销中实际存在的营销推广问题的能力。</i></p>
                    <a th:if="${#authentication.name}!='anonymousUser'" href="javascript:void(0)" target="_blank"
                       th:href="@{/pc/playVideo(videoNo=10001)}">
                        <p class="topbottom">第一课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}=='anonymousUser'" href="javascript:void(0)" target="_blank"
                       onclick="pleaseLoginFirst()">
                        <p class="topbottom">第一课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}!='anonymousUser'" href="javascript:void(0)" target="_blank"
                       th:href="@{/pc/playVideo(videoNo=10002)}">
                        <p class="topbottom">第二课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}=='anonymousUser'" href="javascript:void(0)" target="_blank"
                       onclick="pleaseLoginFirst()">
                        <p class="topbottom">第二课完整版播放</p>
                    </a>
                </li>
            </ul>
            <p style="clear:both;height:18px;"></p>

            <p class="massages">精彩片段</p>

            <p class="onxian"></p>

            <p style="clear:both"></p>

            <p class="xian"></p>

            <p style="clear:both;height:18px;"></p>
            <ul th:remove="all-but-first">
                <li class="smallbox" th:each="v1:${videoList1}">
                    <p class="time" th:text="${v1.duration}">08:49</p>

                    <p th:if="${#authentication.name}!='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=${v1.videoNo})}" target="_blank">
                            <img th:alt="${v1.content}" th:src="${v1.thumbnail}" src="images/videoImages/1-1.jpg"
                                 style="width: 320px; height: 180px;"/>
                        </a>
                    </p>

                    <p th:if="${#authentication.name}=='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" onclick="pleaseLoginFirst()">
                            <img th:alt="${v1.videoName}" style="width: 320px; height: 180px;"
                                 src="images/videoImages/1-1.jpg" th:src="${v1.thumbnail}"/>
                        </a>
                    </p>

                    <p class="sptit" th:text="${v1.videoName}">第一课： 微电商 大生意1-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">10:18</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/1-2.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第一课： 微电商 大生意1-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">10:14</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/1-3.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第一课： 微电商 大生意1-3</p>
                </li>
                <li class="smallbox">
                    <p class="time">08:25</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/2-1.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第二课： 微信基础入门和微商技巧2-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">10:09</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/2-2.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第二课： 微信基础入门和微商技巧2-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">09:11</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/2-3.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第二课： 微信基础入门和微商技巧2-3</p>
                </li>
            </ul>
            <p style="clear:both;"></p>
        </div>
        <!--linend-->
        <p class="fenge"></p>

        <!--guo-->
        <div>
            <ul class="topth">
                <li><img src="images/sp1.jpg" style="width:150px; height: 205px;"/></li>
                <li class="next">
                    <p class="toptitle">云商学院教学视频系列课程</p>

                    <p>讲师：<i>林小希</i></p>

                    <p>类型：<i>微商/学习/培训</i></p>

                    <p>内容提供：<i>云商学院</i></p>

                    <p>简介：<i>微商是一门独立的新兴学科，具有较强的理论性与实践操作性。微商运营师的培训
                        考证旨在使学员在掌握微商概念及基本运行模式后，通过视频学习、课堂讲授、案例分析
                        和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析
                        和解决微信营销中实际存在的营销推广问题的能力。</i></p>
                    <a href="javascript:void(0)" th:if="${#authentication.name}!='anonymousUser'" target="_blank"
                       th:href="@{/pc/playVideo(videoNo=10003)}">
                        <p class="topbottom">第三课完整版播放</p>
                    </a>
                    <a href="javascript:void(0)" th:if="${#authentication.name}=='anonymousUser'" target="_blank"
                       onclick="pleaseLoginFirst()">
                        <p class="topbottom">第三课完整版播放</p>
                    </a>
                    <a href="javascript:void(0)" th:if="${#authentication.name}!='anonymousUser'" target="_blank"
                       th:href="@{/pc/playVideo(videoNo=10004)}">
                        <p class="topbottom">第四课完整版播放</p>
                    </a>
                    <a href="javascript:void(0)" th:if="${#authentication.name}=='anonymousUser'" target="_blank"
                       onclick="pleaseLoginFirst()">
                        <p class="topbottom">第四课完整版播放</p>
                    </a>
                </li>
            </ul>
            <p style="clear:both;height:18px;"></p>

            <p class="massages">精彩片段</p>

            <p class="onxian"></p>

            <p style="clear:both"></p>

            <p class="xian"></p>

            <p style="clear:both;height:18px;"></p>
            <ul th:remove="all-but-first">
                <li class="smallbox" th:each="v2:${videoList2}">
                    <p class="time" th:text="${v2.duration}">09:42</p>

                    <p th:if="${#authentication.name}!='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=${v2.videoNo})}" target="_blank">
                            <img th:alt="${v2.content}" th:src="${v2.thumbnail}" src="images/videoImages/1-1.jpg"
                                 style="width: 320px; height: 180px;"/>
                        </a>
                    </p>

                    <p th:if="${#authentication.name}=='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" onclick="pleaseLoginFirst()">
                            <img th:alt="${v2.videoName}" style="width: 320px; height: 180px;"
                                 src="images/videoImages/3-1.jpg" th:src="${v2.thumbnail}"/>
                        </a>
                    </p>

                    <p class="sptit" th:text="${v2.videoName}">第三课： 朋友圈营销的六脉神剑3-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">22:26</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/3-1.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第三课： 朋友圈营销的六脉神剑3-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">12:12</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/3-3.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第三课： 朋友圈营销的六脉神剑3-3</p>
                </li>
                <li class="smallbox">
                    <p class="time">15:23</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/4-1.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第四课： 微商快速引流的三大法则4-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">00</p>

                    <p class="splb"><a href="#" target="_blank"><img src="images/videoImages/4-2.jpg"
                                                                     style="width: 320px; height: 180px;"/></a></p>

                    <p class="sptit">第四课： 微商快速引流的三大法则4-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">00</p>

                    <p class="splb"><a href="#" target="_blank"><img src="images/videoImages/4-3.jpg"
                                                                     style="width: 320px; height: 180px;"/></a></p>

                    <p class="sptit">第四课： 微商快速引流的三大法则4-3</p>
                </li>
            </ul>
            <p style="clear:both;"></p>
        </div>
        <!--guoend-->

        <p class="fenge"></p>
        <!--tang-->
        <div>
            <ul class="topth">
                <li><img src="images/sp3.jpg" style="width:150px; height: 205px;"/></li>
                <li class="next">
                    <p class="toptitle">云商学院教学视频系列课程</p>

                    <p>讲师：<i>汤晓</i></p>

                    <p>类型：<i>微商/学习/培训</i></p>

                    <p>内容提供：<i>云商学院</i></p>

                    <p>简介：<i>微商是一门独立的新兴学科，具有较强的理论性与实践操作性。微商运营师的培训
                        考证旨在使学员在掌握微商概念及基本运行模式后，通过视频学习、课堂讲授、案例分析
                        和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析
                        和解决微信营销中实际存在的营销推广问题的能力。</i></p>
                    <a th:if="${#authentication.name}!='anonymousUser'" href="javascript:void(0)" target="_blank"
                       th:href="@{/pc/playVideo(videoNo=10005)}">
                        <p class="topbottom">第五课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}=='anonymousUser'" href="javascript:void(0)" target="_blank"
                       onclick="pleaseLoginFirst()">
                        <p class="topbottom">第五课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}!='anonymousUser'" href="javascript:void(0)" target="_blank"
                       th:href="@{/pc/playVideo(videoNo=10006)}">
                        <p class="topbottom">第六课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}=='anonymousUser'" href="javascript:void(0)" target="_blank"
                       onclick="pleaseLoginFirst()">
                        <p class="topbottom">第六课完整版播放</p>
                    </a>
                </li>
            </ul>
            <p style="clear:both;height:18px;"></p>

            <p class="massages">精彩片段</p>

            <p class="onxian"></p>

            <p style="clear:both"></p>

            <p class="xian"></p>

            <p style="clear:both;height:18px;"></p>
            <ul th:remove="all-but-first">
                <li class="smallbox" th:each="v3:${videoList3}">
                    <p class="time" th:text="${v3.duration}">08:27</p>

                    <p th:if="${#authentication.name}!='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=${v3.videoNo})}" target="_blank">
                            <img th:alt="${v3.content}" th:src="${v3.thumbnail}" src="images/videoImages/1-1.jpg"
                                 style="width: 320px; height: 180px;"/>
                        </a>
                    </p>

                    <p th:if="${#authentication.name}=='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" onclick="pleaseLoginFirst()">
                            <img th:alt="${v3.videoName}" style="width: 320px; height: 180px;"
                                 src="images/videoImages/5-1.jpg" th:src="${v3.thumbnail}"/>
                        </a>
                    </p>

                    <p class="sptit" th:text="${v3.videoName}">第五课： 公众账号的基本玩法5-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">10:31</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/5-2.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第五课： 公众账号的基本玩法5-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">08:23</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/5-3.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第五课： 公众账号的基本玩法5-3</p>
                </li>
                <li class="smallbox">
                    <p class="time">11:12</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/6-1.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第六课：快速构建微营销的赢利模式6-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">09:34</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/6-2.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第六课：快速构建微营销的赢利模式6-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">10:15</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/6-3.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第六课：快速构建微营销的赢利模式6-3</p>
                </li>
            </ul>
            <p style="clear:both;"></p>
        </div>
        <!--tangend-->

        <p class="fenge"></p>
        <!--long-->
        <div>
            <ul class="topth">
                <li><img src="images/sp2.jpg" style="width:150px; height: 205px;"/></li>
                <li class="next">
                    <p class="toptitle">云商学院教学视频系列课程</p>

                    <p>讲师：<i>郭向峰</i></p>

                    <p>类型：<i>微商/学习/培训</i></p>

                    <p>内容提供：<i>云商学院</i></p>

                    <p>简介：<i>微商是一门独立的新兴学科，具有较强的理论性与实践操作性。微商运营师的培训
                        考证旨在使学员在掌握微商概念及基本运行模式后，通过视频学习、课堂讲授、案例分析
                        和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析
                        和解决微信营销中实际存在的营销推广问题的能力。</i></p>
                    <a th:if="${#authentication.name}!='anonymousUser'" href="javascript:void(0)" target="_blank" th:href="@{/pc/playVideo(videoNo=10007)}">
                        <p class="topbottom">第七课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}=='anonymousUser'" href="javascript:void(0)" target="_blank"  onclick="pleaseLoginFirst()">
                        <p class="topbottom">第七课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}!='anonymousUser'" href="javascript:void(0)" target="_blank" th:href="@{/pc/playVideo(videoNo=10008)}">
                        <p class="topbottom">第八课完整版播放</p>
                    </a>
                    <a th:if="${#authentication.name}=='anonymousUser'" href="javascript:void(0)" target="_blank"  onclick="pleaseLoginFirst()">
                        <p class="topbottom">第八课完整版播放</p>
                    </a>
                </li>
            </ul>
            <p style="clear:both;height:18px;"></p>

            <p class="massages">精彩片段</p>

            <p class="onxian"></p>

            <p style="clear:both"></p>

            <p class="xian"></p>

            <p style="clear:both;height:18px;"></p>
            <ul th:remove="all-but-first">
                <li class="smallbox" th:each="v4:${videoList4}">
                    <p class="time" th:text="${v4.duration}">24:01</p>

                    <p th:if="${#authentication.name}!='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" th:href="@{/pc/playVideo(videoNo=${v4.videoNo})}" target="_blank">
                            <img th:alt="${v4.content}" th:src="${v4.thumbnail}" src="images/videoImages/1-1.jpg"
                                 style="width: 320px; height: 180px;"/>
                        </a>
                    </p>

                    <p th:if="${#authentication.name}=='anonymousUser'" class="splb">
                        <a href="javascript:void(0)" onclick="pleaseLoginFirst()">
                            <img th:alt="${v4.videoName}" style="width: 320px; height: 180px;"
                                 src="images/videoImages/7-1.jpg" th:src="${v4.thumbnail}"/>
                        </a>
                    </p>

                    <p class="sptit" th:text="${v4.videoName}">第七课： 微店日常管理和团队建设7-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">24:01</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/7-2.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第七课： 微店日常管理和团队建设7-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">24:01</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/7-3.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第七课： 微店日常管理和团队建设7-3</p>
                </li>
                <li class="smallbox">
                    <p class="time">24:01</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/8-1.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第八课： 微店日常管理和团队建设8-1</p>
                </li>
                <li class="smallbox">
                    <p class="time">24:01</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/8-2.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第八课： 微店日常管理和团队建设8-2</p>
                </li>
                <li class="smallbox">
                    <p class="time">24:01</p>

                    <p class="splb"><a href="javascript:void(0)" target="_blank"><img src="images/videoImages/8-3.jpg"
                                                                                      style="width: 320px; height: 180px;"/></a>
                    </p>

                    <p class="sptit">第八课： 微店日常管理和团队建设8-3</p>
                </li>
            </ul>
            <p style="clear:both;"></p>
        </div>
        <!--longend-->

    </div>
</div>
<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form accept-charset="UTF-8" action="yun-geren.html" th:action="@{/pc/index}"
                  class="sign-in__form user-form__form" method="post">
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="username" style="color:#111">手机号：</label>
                    <input autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                           id="username" name="username" placeholder="请输入您的手机号" maxlength="20" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="password" style="color:#111">密码：</label>
                    <input class="sign-in__field user-form__field" id="password" name="password"
                           placeholder="password" type="password"/>
                </div>
                <div class="user-form__href" align="right"><a id="goToRegister" href="javascript:void(0)">免费注册</a>
                </div>
                <button id="btn_login" class="sign-in__button user-form__button" name="btn_login" type="submit">
                    登录
                </button>
            </form>
            <span style="color:red" id="loginFailedInfo" th:text="${errInfo}"></span></div>
    </div>
</div>
<!--登录弹窗end-->
<!--注册弹窗-->
<div th:replace="pc/loginPopup::registPopupDiv" id="regDiv" class="AsaiDivShow" style="display:none">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="javascript:hideRegisterForm()"> <FONT
            style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form action="yun-baomin.html">
                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="regPhoneNo" name="regPhoneNo"
                           placeholder="真实手机号" maxlength="20" type="text"/>
                    <span style="color:red" id="phoneErr"/> <span style="color:green" id="phoneRig"/></p>

                <p style="height:10px;"></p>

                <p style="margin: 0 auto;">
                    <input class="ys-form__field" id="regMessage" name="regMessage"
                           placeholder="短信验证码" maxlength="6" type="text"
                           style="float: left; margin-top: 10px; margin-left:40px; width: 350px;"/>
                    <button class="user-form__yanzheng" type="button"> 获取验证码</button>
                </p>
                <p style="text-align:center;">
                    <button class="sign-in__button user-form__button" id="registerBtn" type="button"> 提交</button>
                </p>
                <div style="text-align: center"><i style="color:#FFBE00">*</i>注册成功后初始密码为手机号后四位，您可以登录后在个人中心修改<br/>
                </div>
            </form>
            <span style="color:red" id="regErrInfo"></span> <span style="color:blue" id="regMsgInfo"></span></div>
    </div>
</div>
<!--注册弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"></div>
<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>

    <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区西兴街道阡陌路482号智慧e谷B座4楼</p>
</div>
</body>
</html>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>