<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title></title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/index-yun.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="js/indexuser.js"></script>
    <script src="js/confirm.js"></script>
</head>
<body>
<div style="background-color:#fff;" class="headeri"><img src="images/logo.png" class="logoimgi"/>
    <ul class="navi">
        <li><a href="yun-index.html" th:href="@{/pc/index}">首页</a></li>
        <li class="active"><a href="javascript:void(0)" th:href="@{/pc/loadCompanyIntroduction}">公司简介</a></li>
        <li><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
        <li><a href="javascript:void(0)" th:href="@{/pc/loadTutors}">师资力量</a></li>
        <li><a href="yun-jxspnew.html" th:href="@{/pc/loadVideo}">教学视频</a></li>
        <li><a href="yun-kaoshizn.html" th:href="@{/pc/loadExamGuide}">考试指南</a></li>
        <li><a href="#">招|应聘</a></li>
        <li id="loginLi" style="padding:0px 0px 0px 20px;" th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
            <a href="javascript:void(0)" onclick="document.getElementById('asaimsg').style.display='block';document.getElementById('asaimsgbg').style.display='block'">登录</a>
        </li>
        <li id="userLi" style="padding:0px;display:none" th:style="${#authentication.name}=='anonymousUser'?'display:none':'padding:0px'">
            <a id="memberLi" href="#" th:href="@{/pc/loadPersonalCenter}"><img class="lodingimg" src="images/toux.png" width="100%"/></a><!--会员头像-->
            <p style="display: none" class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/></p>
            <p style="display: none" class="lbpo"><!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a>
                <a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                <a href="#" th:href="@{/logout}">退出</a>
            </p>
        </li>
    </ul>
</div>

 
 <div style="background-image: url(images/BANNERss.jpg); background-position:center; height:655px; margin:0 auto; text-align:center; overflow:hidden; min-width:1000px; background-repeat:no-repeat"></div>
 
  <div class="tm_tit">
            <h3>HISTORY</h3>
        </div>
 
  <div style="background-image: url(images/BANNERLC.jpg); background-position:center; height:330px; margin:0 auto; text-align:center; overflow:hidden; min-width:1000px;background-repeat:no-repeat"></div>

 <div class="tm_tit">
            <h3>PRODUCT</h3>
        </div>
 <div class="xxd">
 
<P>
<span><a href="http://www.huobanplus.com" >伙伴+(www.huobanplus.com)——移动电商梦工厂</a></span><br/>
由伙伴商城、伙伴DMC（数据决策系统）、伙伴MAD（移动广告系统）、伙伴CMS（构建门户级APP）四个核心部分构成。助企业快速、低成本地拥有移动电商能力。
</P>
<P>
<span><a href="http://www.huobanmall.com" >伙伴商城(www.huobanmall.com)——最好用的移动商城系统</a></span><br/>
为企业建立专属移动商城，以便商家展示品牌形象，提供统一的商品、价格、营销活动和物流保障。
</P> 
<P>
<span><a href="http://www.fanmore.cn" >粉猫(www.fanmore.cn)——躺着也能赚钱的O2O电商平台</a></span><br/>
能把你所有的碎片化时间变成最真实的价值，无论躺着、坐着、吃着、走着……赚钱，就在数秒之间。
</P> </div>		
	<div class="tm_tit">
            <h3>CONTACT</h3>
        </div>

 <div class="container">
      <p class="h40 clear"></p>	
        <p class="font16 fontyahei">
            <b><font style="color: #000">地址：</font></b>杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）
                    <br/>
            <b><font style="color: #000">邮编：</font></b>310000<br/>

            <b><font style="color: #000">联系人：</font></b>张经理:13456997674&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吴经理:15700067601&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;叶经理:15967111221&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;梁经理:13095698990<br/>


            <b><font style="color: #000">全国招商电话：</font></b>400-1818-357<br/>
            <b><font style="color: #000">客服电话：</font></b>0571-86870107
                    <br/>
            <b><font style="color: #000">在线客服QQ：</font>

                <img style="CURSOR: pointer; vertical-align: middle" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=2061242894&amp;site=qq&amp;menu=yes');" border="0" src="images/zx_qq1.gif"/>
                <img style="CURSOR: pointer; vertical-align: middle" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=2402554148&amp;site=qq&amp;menu=yes');" border="0" src="images/zx_qq2.gif"/>
                <img style="CURSOR: pointer; vertical-align: middle" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=2979594190&amp;site=qq&amp;menu=yes');" border="0" src="images/zx_qq3.gif"/>
            </b>

        </p>
		  
<p class="h40 clear"></p>	
	
    </div>
	
	 <div class="tm_tit">
            <h3>关注伙伴君</h3>
        </div>
		<div style="text-align: center; margin:0 auto; padding:0px">

       <img src="images/xwm.jpg"/>
	 
	<p class="h60 clear"></p>
		</div>

<p style="clear:both"></p>
<!--登录弹窗-->
<div id="asaimsg" class="AsaiDivShow" style="display: none">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form accept-charset="UTF-8" action="yun-geren.html" th:action="@{/pc/index}"
                  class="sign-in__form user-form__form" method="post">

                <div class="user-form__fieldset">
                    <label class="user-form__label" for="username" style="color:#111">用户名：</label>
                    <input autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                           id="username" name="username" placeholder="ID" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="password" style="color:#111">密码：</label>
                    <input class="sign-in__field user-form__field" id="password" name="password"
                           placeholder="password" type="password"/>

                </div>
                <button class="sign-in__button user-form__button" name="button" type="submit">
                    登录
                </button>
                <button class="sign-in__button user-form__button" id="goToRegister" type="button">
                    去注册
                </button>
            </form>
            <span style="color:red" th:text="${errInfo}"></span>
        </div>
    </div>
</div>
<!--登录弹窗end-->
<!--注册弹窗-->
<div id="regDiv" class="AsaiDivShow" style="display: none">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="javascript:hideRegisterForm()">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form action="yun-baomin.html">
                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="regPhoneNo" name="regPhoneNo"
                           placeholder="真实手机号" type="text"/>
                    <span style="color:red" id="phoneErr"/>
                    <span style="color:green" id="phoneRig"/>
                </p>

                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="regRealName" name="regRealName"
                           placeholder="真实姓名" type="text"/>
                </p>

                <p>

                <div class="user-form__fieldset">
                    <label class="user-form__label" style="color:#111">性别：</label>
                    <input name="regSex" value="1" type="radio"/>
                    &nbsp;男&nbsp;&nbsp;
                    <input name="regSex" value="0" type="radio"/>
                    &nbsp;女&nbsp;&nbsp;
                </div>
                </p>
                <p style="text-align:center;">
                    <button class="sign-in__button user-form__button" id="goToLogin" type="button">
                        去登录
                    </button>
                    <button class="sign-in__button user-form__button" id="registerBtn" type="button">
                        注册
                    </button>
                </p>
            </form>
            <span style="color:red" id="regErrInfo"></span>
            <span style="color:blue" id="regMsgInfo"></span>
        </div>
    </div>
</div>
<!--注册弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"></div>
<div class="footer">
<p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>
<p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
</div>
</body>
</html>
 