<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>资讯列表</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/jquery-1.7.2.min.js" ></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" ></script>
    <script type="text/javascript" src="js/indexuser.js" ></script>
    <script src="js/confirm.js"></script>
</head>
<body style=" background-color:#f0f0f0;">
<div style="min-height:834px">
    <div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;">
        <div  class="headeri">
            <img src="images/logo.png" class="logoimgi"/>
            <ul class="navi">
                <li class="active"><a href="yun-index.html" th:href="@{/pc/index}">首页</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadCompanyIntroduction}">公司简介</a></li>
                <li><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadTutors}">师资力量</a></li>
                <li><a href="yun-jxspnewone.html" th:href="@{/pc/loadVideo}">教学视频</a></li>
                <li>
                    <a href="javascript:void(0)" th:if="${#authentication.name}=='anonymousUser'" onclick="javascript:pleaseLoginFirst()">考试指南</a>
                    <a href="yun-kaoshizn.html" th:if="${#authentication.name}!='anonymousUser'" th:href="@{/pc/loadExamGuide}">考试指南</a>
                </li>
                <li><a href="#">招|应聘</a></li>
                <li id="loginLi" style="padding:0px 0px 0px 20px;" th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
                    <a href="javascript:void(0)" onclick="document.getElementById('asaimsg').style.display='block';document.getElementById('asaimsgbg').style.display='block'">登录</a>
                </li>
                <li id="userLi" style="padding:0px;display:none" th:style="${#authentication.name}=='anonymousUser'?'display:none':'padding:0px'">
                    <a id="memberLi" href="#" th:href="@{/pc/loadPersonalCenter}"><img class="lodingimg" src="images/toux.png" width="100%"/></a><!--会员头像-->
                    <p style="display: none" class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/></p>
                    <p style="display: none" class="lbpo"><!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                        <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a>
                        <a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                        <a href="#" th:href="@{/logout}">退出</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <p style=" height:40px;"></p>
    <p style="clear:both"></p>
    <div class="ysthree">
        <div class="searchLeftS xLeft" th:unless="${totalPages}==0">
            <!-- 活动列表 -->
            <div class="upJyBox">
                <div class="crumb-wrapf">
                    <div class="crumb-list"><a href="#" th:href="@{/pc/index}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">资讯列表</span></div>
                </div>
                <ul th:remove="all-but-first">
                    <li th:each="g:${messageList}">
                        <div><a class="fLeft mr10"  href="" th:href="@{/pc/loadDetailMessageContent(id=${g.id})}">
                            <img style="width: 250px; height: 188px;" th:style="${g.top} ? 'width: 250px; height: 188px;' : 'width: 120px; height: 90px;'" th:src="${g.pictureUri}" src="http://img.zcool.cn/community/035f43555a8ad516ac72520ee625de4.jpg@250w_188h_1c_1e" /> </a></div>
                        <div th:class="${g.top} ? 'upJyBoxCon' : 'upJyBoxConi' " class="upJyBoxCon">
                            <div class="ujTitle"> <b><a  href="" th:href="@{/pc/loadDetailMessageContent(id=${g.id})}"><span th:text="${g.title}"></span></a></b> <span class="hotSpan lv2"></span> </div>
                            <div class="mt5" th:style="${g.top} ? 'height: 134px;' : 'height: 69px;'" style="height: 134px;">

                                <p style="height: 63px;" class="c999 mt5 ofHidden"><span th:text="${g.synopsis}"></span></p>
                            </div>
                            <div class="mt5 c999"> <span class="fLeft"><a href="#" target="_blank">火图科技</a>
                                    <span class="ml10" th:text="${#calendars.format(g.lastUploadDate,'yyyy-MM-dd/HH:mm:ss')} + '发起'"></span>
                                </span></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div style="text-align:center; margin-top:10px;">
                <a href="#" th:if="${pageNo}!=1" th:href=" @{/pc/messagelist(pageNo=${pageNo}-1)}">上一页</a>
              <span>当前第</span><span style="font-weight:bold;"  th:text= "${pageNo}">1</span>页/<span  style="font-weight:bold;"  th:text="'共'+${totalPages}">1</span>页
                <a href="#" th:if="${pageNo}!=${totalPages}" th:href="@{/pc/messagelist(pageNo=${pageNo}+1)}">下一页</a>
            </div>
        </div>
        <div style="text-align: center;margin-top:10px;margin-bottom: 10px;" th:if="${totalPages}==0">
            <p style="color: red;">暂无数据</p>
        </div>
    </div>
    <p style="clear:both"></p>
    <p style=" height:60px"></p>
    <div>
        <div th:include="pc/loginPopup::footerDiv" class="footer">
            <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>
            <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
        </div>
        <!--登录弹窗-->
        <div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
             th:style="${errInfo}==null?'display: none':'display: block'">
            <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                                 onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
                <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

            <div class="sign-in">
                <div class="user-form">
                    <form accept-charset="UTF-8" action="yun-geren.html" th:action="@{/pc/index}"
                          class="sign-in__form user-form__form" method="post">

                        <div class="user-form__fieldset">
                            <label class="user-form__label" for="username" style="color:#111">手机号：</label>
                            <input autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                                   id="username" name="username" placeholder="请输入您的手机号" maxlength="20" type="text"/>
                        </div>
                        <div class="user-form__fieldset">
                            <label class="user-form__label" for="password" style="color:#111">密码：</label>
                            <input class="sign-in__field user-form__field" id="password" name="password"
                                   placeholder="password" type="password"/>

                        </div>
                        <div class="user-form__href" align="right"><a id="goToRegister" href="javascript:void(0)">免费注册</a></div>
                        <button id="btn_login" class="sign-in__button user-form__button" name="btn_login" type="submit">
                            登录
                        </button>
                    </form>
                    <span style="color:red" id="loginFailedInfo" th:text="${errInfo}"></span>
                </div>
            </div>
        </div>
        <!--登录弹窗end-->
        <!--注册弹窗-->
        <div th:replace="pc/loginPopup::registPopupDiv" id="regDiv" class="AsaiDivShow" style="display:none">
            <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                                 onclick="javascript:hideRegisterForm()">
                <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

            <div class="sign-in">
                <div class="user-form user-h52">
                    <form action="yun-baomin.html">
                        <p>
                            <input class="ysw500 sign-in__field ys-form__field" id="regPhoneNo" name="regPhoneNo"
                                   placeholder="真实手机号" maxlength="20" type="text"/>
                            <span style="color:red" id="phoneErr"/>
                            <span style="color:green" id="phoneRig"/>
                        </p>

                        <p style="height:10px;"></p>
                        <!-- <p style="margin: 0 auto;">
                             <input class="ys-form__field" id="regMessage" name="regMessage" placeholder="短信验证码" maxlength="6"
                                    type="text" style="float: left; margin-top: 10px; margin-left:40px; width:430px;"/>
                             <input id="verify_btn" value="获取验证码" class="user-form__yanzheng" type="button"
                                    onclick="settime(this)"/>
                         </p>-->

                        <p style="text-align:center;">
                            <button class="sign-in__button user-form__button" id="registerBtn" type="button">
                                提交
                            </button>
                        </p>
                        <div style="text-align: center">
                            <i style="color:#FFBE00">*</i>注册成功后初始密码为手机号后四位，您可以登录后在个人中心修改<br/>
                        </div>
                    </form>
                    <span style="color:red" id="regErrInfo"></span>
                    <span style="color:blue" id="regMsgInfo"></span>
                </div>
            </div>
            </div>
        </div>
</div>
</body>
</html>
