<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>云商学院</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="js/cookie_util.js"></script>
    <script type="text/javascript" src="js/indexuser.js"></script>
    <script src="js/confirm.js"></script>
</head>
<body>
<div style="background-color:#fff;" class="headeri"><img src="images/logo.png" class="logoimgi"/>
    <ul class="navi">
        <li class="active"><a href="yun-index.html" th:href="@{/pc/index}">首页</a></li>
        <li><a href="javascript:void(0)" th:href="@{/pc/loadCompanyIntroduction}">公司简介</a></li>
        <li><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
        <li><a href="javascript:void(0)" th:href="@{/pc/loadTutors}">师资力量</a></li>
        <li><a href="yun-jxspnew.html" th:href="@{/pc/loadVideo}">教学视频</a></li>
        <li>
            <a href="javascript:void(0)" th:if="${#authentication.name}=='anonymousUser'" onclick="javascript:pleaseLoginFirst()">考试指南</a>
            <a href="yun-kaoshizn.html" th:if="${#authentication.name}!='anonymousUser'" th:href="@{/pc/loadExamGuide}">考试指南</a>
        </li>
        <li><a href="#">招|应聘</a></li>
        <!--@thymesVar id="name" type=""-->
        <li id="loginLi" style="padding:0px 0px 0px 20px;"
            th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
            <a href="javascript:void(0)" id="showLoginForm">登录</a>
        </li>
        <li id="userLi" style="padding:0px;display:none"
            th:style="${#authentication.name}=='anonymousUser'?'display:none':'padding:0px'">
            <a id="memberLi" href="#" th:href="@{/pc/loadPersonalCenter}"><img class="lodingimg" src="images/toux.png"
                                                                               width="100%"/></a><!--会员头像-->
            <p style="display: none" class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/></p>

            <p style="display: none" class="lbpo">
                <!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a>
                <a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                <a href="#" th:href="@{/logout}">退出</a>
            </p>
        </li>
    </ul>
</div>

<p style="clear:both"></p>

<div class="fullSlide">
    <div class="bd">
        <ul>
            <li style="background:url(images/banner1.jpg) center 0 no-repeat;"><a href="" th:href="@{/pc/index}"
                                                                                  title=""></a></li>
            <li style="background:url(images/bannersz.jpg) center 0 no-repeat;"><a href="" th:href="@{/pc/loadTutors}"
                                                                                   title=""></a></li>
        </ul>
    </div>
    <div class="hd">
        <ul>
        </ul>
    </div>
</div>
<p style="clear:both"></p>

<p style="height:20px"></p>
<img src="images/wzwz.png" th:src="@{/pc/images/wzwz.png}" width="100%"/>

<div class="hx">
    <p style="clear:both; height:50px"></p>

    <div class="hximg">
        <ul>
            <li class="pone"><a href="">
                <p class="  ystitle">微商基础化课程</p>

                <p class="poneimg"></p>
            </a>

                <p class=" ysmf">免费教程</p>

                <p class=" yssz">75,673人已学习</p>
            </li>
            <li class="ptwo"><a href="">
                <p class="ystitle">微商强化课程</p>

                <p class="ptwoimg"></p>
            </a>

                <p class="ysmf">会员制 2680元／年</p>

                <p class="yssz">16,128人已学习</p>
            </li>
            <li class="pfour"><a href="">
                <p class="pfour ystitle">求职应聘</p>

                <p class="pfourimg"></p>
            </a>

                <p class="ysmf">合作入驻企业</p>

                <p class="yssz">16,128条信息</p>
            </li>
            <li class="pthree"><a href="">
                <p class="pthree ystitle">今日直播</p>

                <p class="pthreeimg"></p>
            </a>

                <p class="ysmf">视频讲座直播</p>

                <p class="yssz">16,128人已关注</p>
            </li>
        </ul>
    </div>
</div>
<img src="images/topone.png" width="100%" th:src="@{/pc/images/topone.png}"/>

<div class="listone listhx">
    <div style="width: 960px; margin: 0 auto;">
        <ul>
            <!--资讯动态-->
            <li style=" float:left;">
                <div>
                    <a href="javascript:void(0)"><p class="tit"><span class="titspan">动态资讯</span> <span><img
                            src="images/play.png" style="width: 18px; height: 18px;"/></span></p></a>

                    <p class="titen"><span>Dynamic information</span></p>
                    <a href="javascript:void(0)"><img class="imgleft"
                                                      th:src="${MessageContentList.size()}>=1?${MessageContentList[0].pictureUri}:'images/listone.jpg'"
                                                      src="images/listone.jpg" style="width:126px; height: 108px;"/></a>
                    <a href="javascript:void(0)"><p class="titfont"
                                                    th:text="${MessageContentList.size()}>=1?${MessageContentList[0].title}:'“微商”悄然兴起'">
                        微商走进校园</p></a>
                    <a href="javascript:void(0)">
                        <p class="titlb"
                           th:text="${MessageContentList.size()}>=1?${MessageContentList[0].content}:'什么是微商？至今没有权威定义。在朋友圈刷屏的卖家、品牌的微信代理商，以及自媒体发展起来的微信卖家，都被视为微商。'">
                            考察要点在于对同察要点在于对同义转换的反应能力义转换的反应能力，大家要花功夫分析选项中哪些词语容易被替换掉</p>
                    </a>

                    <p class="titxian"></p>
                </div>
                <div>
                    <a th:if="${MessageContentList.size()}>=2" href="javascript:void(0)"><p class="tittit"><span
                            class="titfive" th:text="${MessageContentList[1].title}">5月杭州微商大会进行中</span>
                        <span class="tittime"
                              th:text="${#calendars.format(MessageContentList[1].lastUploadDate,'yyyy/MM/dd')}">2015/05/10</span>
                    </p></a>

                    <p style="clear:both"></p>
                    <a th:if="${MessageContentList.size()}>=3" href="javascript:void(0)"><p class="tittit"><span
                            class="titfive" th:text="${MessageContentList[2].title}">5月杭州微商大会进行中</span>
                        <span class="tittime"
                              th:text="${#calendars.format(MessageContentList[2].lastUploadDate,'yyyy/MM/dd')}">2015/05/10</span>
                    </p></a>

                    <p style="clear:both"></p>
                </div>
                <p style="color: #C0C0C0;" class="tittit"><a href="javascript:void(0)"><span style="color: #C0C0C0;" class="tittime">查看更多＞</span></a></p>
            </li>
            <!--最新公告-->
            <li style=" float:left;">
                <div>
                    <a href="javascript:void(0)"><p class="tit"><span class="titspan">最新公告</span> <span><img
                            src="images/play.png" style="width: 18px; height: 18px;"/></span></p></a>

                    <p class="titen"><span>Latest statement</span></p>
                    <a href="javascript:void(0)"><img class="imgleft" src="images/listtwo.jpg"
                                                      style="width:126px; height: 108px;"/></a>
                    <a href="javascript:void(0)"><p class="titfont">微商论剑-杭州第五站</p></a>
                    <a href="javascript:void(0)"><p class="titlb">
                        火图科技迄今为止已在杭城成功举办4站"微商论剑"，并赶赴衢州、建德多地巡演，吸引当地众多传统企业前来观摩。这一次，火图科技将集结胡庆余堂、姚生记、天天快递、长生鸟于云咖啡，让你看看，品牌微商的力量有多强！</p>
                    </a>

                    <p class="titxian"></p>
                </div>
                <div>
                    <a th:remove="all" href="javascript:void(0)"><p class="tittit"><span class="titfive">5月杭州微商大会进行中</span>
                        <span class="tittime">2015/05/10</span></p></a>

                    <p style="clear:both"></p>
                    <a th:remove="all" href="javascript:void(0)"><p class="tittit"><span class="titfive">6月杭州微商大会进行中</span><span
                            class="tittime">2015/06/10</span></p></a>

                    <p style="clear:both"></p>
                </div>
                <p style="color: #C0C0C0;" class="tittit"><a href="javascript:void(0)"><span style="color: #C0C0C0;"
                                                                                             class="tittime">查看更多＞</span></a>
                </p>
            </li>
            <!--常见问题-->
            <li style=" float:left;">
                <div>
                    <a href="javascript:void(0)"><p class="tit"><span class="titspan">常见问题</span> <span><img
                            src="images/play.png" style="width: 18px; height: 18px;"/></span></p></a>

                    <p class="titen"><span>Common problem</span></p>
                    <a href="javascript:void(0)"><img class="imgleft"
                                                      th:src="${QaList.size()}>=1?${QaList[0].pictureUri}:'images/listthree.jpg'"
                                                      src="images/listthree.jpg"
                                                      style="width:126px; height: 108px;"/></a>
                    <a href="javascript:void(0)"><p class="titfont"
                                                    th:text="${QaList.size()}>=1?${QaList[0].title}:'通过微商运营师的培训能学到什么？'">微商走进校园</p></a>
                    <a href="javascript:void(0)"><p class="titlb"
                                                    th:text="${QaList.size()}>=1?${QaList[0].content}:'微商运营师的培训考证旨在使学员在掌握微商概念及基本运行模式后，且通过视频学习、课堂讲授、案例分析和交流互动等方法和形式，使学员掌握微商的基本概念、理论知识；培养学员发现、分析和解决微信营销中实际存在的营销推广问题的能力。'">
                        考察要点在于对同考察要点在于对同义转换的反应能力考察要点在于对同义转换的反应能力考察要点在于对同义转换的反应能力考察要点在于对同义转换的反应能力义转换的反应能力，大家要花功夫分析选项中哪些词语容易被替换掉</p>
                    </a>

                    <p class="titxian"></p>
                </div>
                <div>
                    <a th:if="${QaList.size()}>=2" href="#"><p class="tittit"><span class="titfive"
                                                                                    th:text="${QaList[1].title}">5月杭州微商大会进行中</span>
                        <span class="tittime" th:text="${#calendars.format(QaList[1].lastUploadDate,'yyyy/MM/dd')}">2015/05/10</span>
                    </p></a>

                    <p style="clear:both"></p>
                    <a th:if="${QaList.size()}>=3" href="#"><p class="tittit"><span class="titfive"
                                                                                    th:text="${QaList[2].title}">5月杭州微商大会进行中</span>
                        <span class="tittime" th:text="${#calendars.format(QaList[2].lastUploadDate,'yyyy/MM/dd')}">2015/05/10</span>
                    </p></a>

                    <p style="clear:both"></p>
                </div>
                <p style="color: #C0C0C0;" class="tittit"><a href="javascript:void(0)"><span
                        style="color: #C0C0C0;" class="tittime">查看更多＞</span></a></p>
            </li>
            <!--报名须知-->
            <li style=" float:left;">
                <div>
                    <a href="javascript:void(0)"><p class="tit"><span class="titspan">报名须知</span> <span><img
                            src="images/play.png" style="width: 18px; height: 18px;"/></span></p></a>

                    <p class="titen"><span>Application notes</span></p>
                    <a th:href="@{/pc/loadMemberRegister}" href="javascript:void(0)"><img class="imgleft" src="images/listfour.jpg"
                                                      style="width:126px; height: 108px;"/></a>
                    <a th:href="@{/pc/loadMemberRegister}" href="javascript:void(0)"><p class="titfont">报名时间</p></a>
                    <a th:href="@{/pc/loadMemberRegister}" href="javascript:void(0)"><p class="titlb">
                        1、报名时间： 即日起报名，每期50人以上即开班。
                        2、报名渠道：1.公司官网报名；2.代理商处报名；3.公司总部报名；4.微信公众号报名；
                        3、报名费用： 2680元/人: 包括报名费、证书费、辅导资料费和考务费。
                        4、报名资料：报名表1张；个人身份证复印件1份；学历证书或学生证复印件一张，或在职证明一张；两寸白底彩色照片2张。
                        5、考核方式： 理论考试时间100分钟，满分100分，60分即通过。</p>
                    </a>

                    <p class="titxian"></p>
                </div>
                <div th:remove="all">
                    <a  href="javascript:void(0)"><p class="tittit"><span class="titfive">报名渠道</span>
                        <span class="tittime">2015/08/10</span></p></a>

                    <p style="clear:both"></p>
                    <a th:remove="all" href="#"><p class="tittit"><span class="titfive">报名费用</span>
                        <span class="tittime">2015/08/10</span></p></a>

                    <p style="clear:both"></p>
                </div>
                <p style="color: #C0C0C0;" class="tittit"><a href="yun-kaoshizn.html" th:href="@{/pc/loadMemberRegister}"><span style="color: #C0C0C0;"
                                                                                            class="tittime">查看更多＞</span></a>
                </p>
            </li>
        </ul>
    </div>
</div>
<img src="images/bottonone.png" width="100%" th:src="@{/pc/images/bottonone.png}"/>

<div class="kf"><img src="images/wzwzwz.png" width="100%" th:src="@{/pc/images/wzwzwz.png}"/>

    <p style="clear:both; height:30px"></p>

    <div class="kfimg">
        <ul>
            <li><img src="images/k121.jpg"/></li>
            <li><img src="images/k143.jpg"/></li>
            <li><img src="images/k3.jpg"/></li>
            <li><img src="images/k4.jpg"/></li>
            <li><img src="images/k5.jpg"/></li>
            <li><img src="images/k8.jpg"/></li>
            <li><img src="images/k7.jpg"/></li>
            <li><img src="images/k1.jpg"/></li>
            <li><img src="images/k11.jpg"/></li>
            <li><img src="images/k131.jpg"/></li>
        </ul>
    </div>
    <div style="display:none">
        <p style="clear:both; height:80px"></p>
        <a href="">
            <div class="morebtn">更多</div>
        </a>

        <p style="clear:both; height:30px"></p>
    </div>
</div>
<div class="lhx" style=" background-color:#0195ff; color:#fff">友情链接|<a th:each="g:${LinkList}" th:href="${g.url}"
                                                                       th:target="'_blank'"
                                                                       th:text="${g.title}+'  '"></a><a
        href="http://www.gcvaic.org" target="_blank">公共证书查询入口</a></div>

<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>

    <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>

</div>


<div style="width: 126px; height: 189px; position: fixed; top:220px; right: 20px; display: block; z-index: 100;">
    <div style="display: block; width: 126px; height: 126px;"><img src="images/weixin.png"
                                                                   th:src="@{/pc/images/weixin.png}"
                                                                   style="width: 126px; height: 126px;"/></div>
    <div style="background-color: #f1f1f1; text-align: center; font-size: 16px; font-family: '微软雅黑'; color: #666; height: 30px; line-height: 30px; display: block;">
        <a href="http://www.fanmore.cn/d.html" style="color: #333; font-size: 14px;">点击下载</a></div>
    <img src="images/call.jpg" th:src="@{/pc/images/call.jpg}" style="width:126px; height:65px;"/></div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none" th:style="${errInfo}==null?'display: none':'display: block'">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form accept-charset="UTF-8" action="yun-geren.html" th:action="@{/pc/index}"
                  class="sign-in__form user-form__form" method="post">

                <div class="user-form__fieldset">
                    <label class="user-form__label" for="username" style="color:#111">手机号：</label>
                    <input autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                           id="username" name="username" placeholder="请输入您的手机号" maxlength="20" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="password" style="color:#111">密码：</label>
                    <input class="sign-in__field user-form__field" id="password" name="password"
                           placeholder="password" type="password"/>

                </div>
                <div class="user-form__href" align="right"><a id="goToRegister" href="javascript:void(0)">免费注册</a></div>
                <button id="btn_login" class="sign-in__button user-form__button" name="btn_login" type="submit">
                    登录
                </button>
            </form>
            <span style="color:red" id="loginFailedInfo" th:text="${errInfo}"></span>
        </div>
    </div>
</div>
<!--登录弹窗end-->
<!--注册弹窗-->
<div th:replace="pc/loginPopup::registPopupDiv" id="regDiv" class="AsaiDivShow" style="display:none">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="javascript:hideRegisterForm()">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form action="yun-baomin.html">
                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="regPhoneNo" name="regPhoneNo"
                           placeholder="真实手机号" maxlength="20" type="text"/>
                    <span style="color:red" id="phoneErr"/>
                    <span style="color:green" id="phoneRig"/>
                </p>
                <p style="height:10px;"></p>
                <p style="margin: 0 auto;">
                    <input class="ys-form__field" id="regMessage" name="regMessage" placeholder="短信验证码" maxlength="6" type="text" style="float: left; margin-top: 10px; margin-left:40px; width:430px;"/>
                    <input id="verify_btn" value="获取验证码" class="user-form__yanzheng" type="button" onclick="settime(this)" />
                </p>
                <p style="text-align:center;">
                    <button class="sign-in__button user-form__button" id="registerBtn" type="button">
                        提交
                    </button>
                </p>
                <div style="text-align: center">
                    <i style="color:#FFBE00">*</i>注册成功后初始密码为手机号后四位，您可以登录后在个人中心修改<br/>
                </div>
            </form>
            <span style="color:red" id="regErrInfo"></span>
            <span style="color:blue" id="regMsgInfo"></span>
        </div>
    </div>
</div>
<!--注册弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none" th:style="${errInfo}==null?'display: none':'display: block'"></div>
</body>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>
</html>
