<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>考证报名</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/pc/css/indexnew.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/pc/css/main.css}"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js" th:href="@{/pc/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"
            th:href="@{/pc/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script type="text/javascript" src="js/indexuser.js"></script>
    <script src="js/confirm.js"></script>
</head>
<body style="background-color:#f0f0f0">
<div style="min-height:834px">
    <div th:replace="pc/loginPopup::headerDiv" style=" background-color:#fff;">
        <div style=" background-color:#fff; font-size:14px;" class="header"><img src="images/logo.png"
                                                                                 th:src="@{/pc/images/logo.png}"
                                                                                 class="logoimg"/>
            <ul class="navi">
                <li><a href="yun-index.html" th:href="@{/pc/index}">首页</a></li>
                <li><a href="javascript:void(0)">公司简介</a></li>
                <li><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
                <li><a href="javascript:void(0)">师资力量</a></li>
                <li><a href="yun-jxspnewone.html" th:href="@{/pc/loadVideo}">教学视频</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadPeixun}">培训内容</a></li>
                <li><a href="javascript:void(0)">招|应聘</a></li>
                <li id="loginLi" style="padding:0px 0px 0px 20px;"
                    th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
                    <a href="javascript:void(0)"
                       onclick="document.getElementById('asaimsg').style.display='block';document.getElementById('asaimsgbg').style.display='block'">登录</a>
                </li>
                <li id="userLi" style="padding:0px;display:none"
                    th:style="${#authentication.name}=='anonymousUser'?'display:none':'padding:0px'">
                    <a id="memberLi" href="#" th:href="@{/pc/loadPersonalCenter}"><img class="lodingimg"
                                                                                       src="images/toux.png"
                                                                                       width="100%"/></a><!--会员头像-->
                    <p style="display: none" class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/>
                    </p>

                    <p style="display: none" class="lbpo">
                        <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a>
                        <a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                        <a href="#" th:href="@{/logout}">退出</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div style="position: relative; background-image: url('images/temp.jpg'); width: 1903px; height: 1000px;">
        <a href="yun-index.html" th:href="@{/pc/index}"><span style="position: relative; width: 224px; height: 46px;
        margin-top:357px; margin-left:  993px;"></span></a>
    </div>
    </div>
    <!--<a href="yun-index.html"><img src="images/temp.jpg"/></a>-->
    <p style="clear:both"></p>

    <p style=" height:60px"></p>

    <div th:include="pc/loginPopup::footerDiv" class="footer">
        <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>

        <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
    </div>

</body>
</html>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>