<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>考证报名</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script rel="stylesheet" type="text/javascript" src="js/indexuser.js"></script>
    <script src="js/confirm.js"></script>
</head>
<body style="background-color:#f0f0f0">
<div style="min-height:834px">
    <div style="background-color:#fff;">
        <div class="headeri">
            <img src="images/logo.png" class="logoimgi"/>
            <ul class="navi">
                <li><a href="yun-index.html" th:href="@{/pc/index}">首页</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadCompanyIntroduction}">公司简介</a></li>
                <li class="active"><a href="yun-baomin.html" th:href="@{/pc/loadMemberRegister}">考证报名</a></li>
                <li><a href="javascript:void(0)" th:href="@{/pc/loadTutors}">师资力量</a></li>
                <li><a href="yun-jxspnew.html" th:href="@{/pc/loadVideo}">教学视频</a></li>
                <li><a href="yun-kaoshizn.html" th:href="@{/pc/loadExamGuide}">考试指南</a></li>
                <li><a href="#">招|应聘</a></li>
                <li id="loginLi" style="padding:0px 0px 0px 20px;"
                    th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
                    <a href="javascript:void(0)"
                       onclick="document.getElementById('asaimsg').style.display='block';document.getElementById('asaimsgbg').style.display='block'">登录</a>
                </li>
                <li id="userLi" style="padding:0px;display:none"
                    th:style="${#authentication.name}=='anonymousUser'?'display:none':'padding:0px'">
                    <a id="memberLi" href="#" th:href="@{/pc/loadPersonalCenter}"><img class="lodingimg"
                                                                                       src="images/toux.png"
                                                                                       width="100%"/></a><!--会员头像-->
                    <p style="display: none" class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/>
                    </p>

                    <p style="display: none" class="lbpo">
                        <!--@thymesVar id="#authentication" type="org.springframework.security.core.Authentication"-->
                        <a href="javascript:void(0)" th:text="${#authentication.name}">ABC</a>
                        <a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                        <a href="#" th:href="@{/logout}">退出</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="fullSlidei">

        <div class="bd">
            <ul style="position: relative; width: 1903px; height: 648px;">
                <li style="position: absolute; width: 1903px; left: 0px; top: 0px; display: list-item; opacity: 0.975664; background: url(images/baomin.jpg) 50% 0px no-repeat;"></li>
            </ul>
        </div>
    </div>


    <p style="clear:both"></p>

    <p style="height:20px"></p>

    <div class="ysfour">
    
          
        <p class="ysxz">
        <b style="font-size:16px;">报名须知</b><br/>
        1、报名时间： 即日起报名，每期50人以上即开班。<br/>
    2、报名渠道：1.公司官网报名；2.代理商处报名；3.公司总部报名；4.微信公众号报名；<br/>
    3、报名费用： 2680元/人: 包括报名费、证书费、辅导资料费和考务费。<br/>
    4、报名资料：报名表1张；个人身份证复印件1份；学历证书或学生证复印件一张，或在职证明一张；两寸白底彩色照片2张。<br/>
    5、考核方式： 理论考试时间100分钟，满分100分，60分即通过。<br/>
         
        </p>
        
        
        <div class="ys500 ystx">
            <form action="yun-baomin.html">
                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="realName" name="realName" placeholder="真实姓名"
                           type="text" th:value="${mbInfo}==null?'':${mbInfo.realName}" th:readonly="${mbInfo}==null?false:true"/>
                </p>

                <p class="ysdx">&nbsp;&nbsp;&nbsp;&nbsp;性别：
                    <input name="sex" value="1"  th:checked="${mbInfo}==null?false:${mbInfo.sex}==1" th:disabled="${mbInfo}==null?false:true" type="radio"/>
                    &nbsp;男&nbsp;&nbsp;
                    <input name="sex" value="0"  th:checked="${mbInfo}==null?false:${mbInfo.sex}==0" th:disabled="${mbInfo}==null?false:true" type="radio"/>
                    &nbsp;女&nbsp;&nbsp;
                </p>

                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="phoneNo" name="phoneNo"
                           placeholder="真实手机号"  th:value="${mbInfo}==null?'':${mbInfo.phoneNo}" th:readonly="${mbInfo}==null?false:true" type="text"/>
                </p>

                <p>
                    <select name="areaId" id="areaId" class="ysxlk">
                        <option value="001">杭州市</option>
                    </select>
                </p>
                <p style="text-align:center;">
                    <button class="ysw500 sign-in__button ys-form__button" id="baominSubmit" type="button">
                        提交
                    </button>
                </p>
            </form>
            <div style="text-align: center;">
                <span style="color:red" id="errInfo"/>
                <span style="color:blue" id="msgInfo"/>
            </div>
        </div>
        <p class="yszhuyi"><i style="color:#FFBE00">*</i>提交报名后，我们会通知你，并线下交费。安排班次和考试等事项。<br/>
            <i style="color:#FFBE00">*</i>手机号就是您的登录账号，初始登录密码为您的手机号。<br/>
        </p>
        
  
        
        
        
    </div>
</div>
<p style="clear:both"></p>

<p style=" height:60px"></p>
<!--登录弹窗-->
<div id="asaimsg" class="AsaiDivShow" style="display: none" th:style="${errInfo}==null?'display: none':'display: block'">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form accept-charset="UTF-8" action="yun-geren.html" th:action="@{/pc/index}"
                  class="sign-in__form user-form__form" method="post">

                <div class="user-form__fieldset">
                    <label class="user-form__label" for="username" style="color:#111">手机号：</label>
                    <input autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                           id="username" name="username" placeholder="请输入您的手机号" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="password" style="color:#111">密码：</label>
                    <input class="sign-in__field user-form__field" id="password" name="password"
                           placeholder="password" type="password"/>

                </div>
                <button class="sign-in__button user-form__button" name="button" type="submit">
                    登录
                </button>
                <button class="sign-in__button user-form__button" id="goToRegister" type="button">
                    注册
                </button>
            </form>
            <span style="color:red" th:text="${errInfo}"></span>
        </div>
    </div>
</div>
<!--登录弹窗end-->
<!--注册弹窗-->
<div id="regDiv" class="AsaiDivShow" style="display:none">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="javascript:hideRegisterForm()">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form action="yun-baomin.html">
                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="regPhoneNo" name="regPhoneNo"
                           placeholder="真实手机号" type="text"/>
                    <span style="color:red" id="phoneErr"/>
                    <span style="color:green" id="phoneRig"/>
                </p>
                <p style="height:10px;"></p>
                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="regRealName" name="regRealName"
                           placeholder="真实姓名" type="text"/>
                </p>

                <p>

                <div class="user-form__fieldset">
                    &nbsp;&nbsp;&nbsp;&nbsp;性别：
                    <input name="regSex" value="1" type="radio"/>
                    &nbsp;男&nbsp;&nbsp;
                    <input name="regSex" value="0" type="radio"/>
                    &nbsp;女&nbsp;&nbsp;
                </div>
                </p>
                <p style="text-align:center;">
                    <button class="sign-in__button user-form__button" id="goToLogin" type="button">
                        登录
                    </button>
                    <button class="sign-in__button user-form__button" id="registerBtn" type="button">
                        提交
                    </button>
                </p>
                <div style="text-align: center">
                    <i style="color:#FFBE00">*</i>注册成功后初始密码为手机号后四位，您可以登录后在个人中心修改<br/>
                </div>
            </form>
            <span style="color:red" id="regErrInfo"></span>
            <span style="color:blue" id="regMsgInfo"></span>
        </div>
    </div>
</div>
<!--注册弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"></div>
<div class="footer">
    <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>

    <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
</div>
</body>
</html>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>