<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script rel="stylesheet" type="text/javascript" src="js/indexuser.js"></script>
    <script type="text/javascript" src="js/confirm.js"></script>
</head>

<body style=" background-color:#f0f0f0; background:url(images/banner2.jpg) no-repeat; background-size:cover;">
<div style="min-height:834px">
    <div style=" background-color:#fff;">
        <div style=" background-color:#fff; font-size:14px;" class="header"><img src="images/logo.png" class="logoimg"/>
            <ul class="navi">
                <li><a href="yun-index.html" th:href="@{/pc/gerenToIndex}">首页</a></li>
                <li><a href="#">公司简介</a></li>
                <li class="active"><a href="yun-baomin.html">考证报名</a></li>
                <li><a href="#">师资力量</a></li>
                <li><a href="#" th:href="@{/pc/loadVideo}">教学视频</a></li>
                <li><a href="#">考试指南</a></li>
                <li><a href="#">招|应聘</a></li>
                <li id="loginLi" style="padding:0px 0px 0px 20px;"><a href="javascript:void(0)" th:text="${loginButton}" onclick="document.getElementById('asaimsg').style.display='block';document.getElementById('asaimsgbg').style.display='block'">登录</a>
                </li>
                <!--@thymesVar id="style" type="java.lang.String"-->
                <li id="userLi" style="padding:0px;display: none" th:style="${style}">
                    <a id="memberLi" href="#"><img class="lodingimg" src="images/toux.png" width="100%"/></a><!--会员头像-->
                    <p class="zhizheni"><img src="images/lodingj.png" width="18px" height="7px"/></p>

                    <p class="lbpo"><a href="#" th:href="@{/pc/loadPersonalCenter}">个人中心</a>
                        <a href="#" onclick="showChangePwdForm()">修改密码</a>
                        <a href="#" th:href="@{/logout}">退出</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p style=" height:60px;"></p>

    <p style="clear:both"></p>

    <div class="ysoo"><img class="toux" src="images/toux.png" width="80px" height="80px"/>
        <ul style="margin-left:115px;margin-top:-46px;">
            <li style="float:left;">
                <p style="font-size:16px"><b>姓名：<span th:text="${mb.realName}">啦啦啦</span></b></p>
            </li>
            <li style="float:right; margin-top:-4px">
                <p style="font-size:14px">
                    <button class="ysan">我的电子证书</button>
                </p>
                <p style="font-size:14px">
                    <button class="ysan" onclick="$('#applyForCertificateDiv').show()">申请领证</button>
                </p>
            </li>
        </ul>
        <p style="clear:both"></p>
        <ul class="boboxs">
            <li class="lileft">
                <p>号码：<span th:text="${mb.phoneNo}">15063568971</span></p>

                <p>注册时间：<span th:text="${#dates.format(mb.registerDate, 'yyyy-MM-dd')}">2105.01.01</span></p>

                <p>班级：<span th:text="${mb.theClass==null}?'未安排':${mb.theClass.className}">201204第一期</span></p>

                <p>报名考试：<span th:text="${#dates.format(mb.applyDate, 'yyyy-MM-dd hh:ss:mm')}">2105.01.01</span>提交报名</p>

                <p><span>考试通过：<b><span th:text="${mb.passed}==0?'还未考试':(${mb.passed}==1?'通过':'未通过')">未知</span></b></span>&nbsp;&nbsp;&nbsp;<span>考试时间：<b><span
                        th:text="${mb.theClass==null}?'未安排':(${mb.theClass.exam==null}?'未安排':${#dates.format(mb.theClass.exam.examDate, 'yyyy-MM-dd')})">未知</span></b></span>&nbsp;&nbsp;&nbsp;<span>考试地点：<b><span
                        th:text="${mb.theClass==null}?'未安排':(${mb.theClass.exam==null}?'未安排':${mb.theClass.exam.examAddress})">未知</span></b></span>
                </p>
            </li>
            <li class="lirightp">
                <p>交费状态：<span th:text="${mb.payed}?'已交费':'未交费'">成功</span></p>

                <p>区域负责人：<span th:text="${mb.agent.name}">啦啦啦</span></p>

                <p>联系方式：<span th:text="${mb.agent.phoneNo}">15062356895</span></p>

                <p>考试通过后，即可申请实物证</p>
            </li>
        </ul>
    </div>
    <div class="ystwo" style="background-color:#E8E8E8;"><img style="margin-left:27px;" src="images/message.png"
                                                              width="30px" height="30px"/> <span
            style="line-height:30px;font-size:14px;padding:5px;">消息通知</span></div>
    <div class="ysthree" th:remove="all">
        <div class="main-wrap">
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
            <div class="ystwolist ysys">
                <p><span style="float:left;">5月杭州微商大会进行中</span> <span style="float:right;">2015/05/10</span></p>
            </div>
        </div>
    </div>
</div>
<p style="clear:both"></p>

<p style=" height:60px"></p>

<div class="footer">
    <p>Copyright&copy;2013-2015. 杭州火图科技有限公司,浙ICP备13027761号-4</p>

    <p>客服电话：0571-86870107 &nbsp;地址：杭州市滨江区智汇领地科技园A幢803室（信诚路和江南大道交叉口）</p>
</div>


<!--申请领证弹窗-->
<div style="display:none;" class="ystci" id="applyForCertificateDiv">
    <div class="box-ysi">
        <P style="text-align:right;"><a href="#" onclick="$('#applyForCertificateDiv').hide();"><FONT style="color:#111; font-size:20px;">×</FONT></a></P>
        <div class="ys761 ystx" style="margin-top: 10px;">
            <form action="#" th:action="@{/pc/applyForCertificate}" method="post" id="applyForCertificateForm" enctype="multipart/form-data">
                <div class="config-items">
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody>
                            <tr>
                                <th><i class="require-red">*</i>上传一寸照：</th>
                                <td>
                                    <img id="img_photo" th:src="${certificate.pictureUri}" src="images/toux.png" style="width: 50px; height: auto;"/>
                                    <input name="pictureImg" type="file"/>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>收件人：</th>
                                <td><input style=" background-color: #F1F1F1;border: 1px solid #F1F1F1;" id="receiveName" name="receiveName" th:value="${certificate.receiveName}" title="" type="text" value="" size="50" class="common-text"/></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>收件地址：</th>
                                <td><input style=" background-color: #F1F1F1;border: 1px solid #F1F1F1;" id="receiveAddress" name="receiveAddress" th:value="${certificate.receiveAddress}" title="" type="text" value="" size="50" class="common-text"/></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>联系地址：</th>
                                <td><input style=" background-color: #F1F1F1;border: 1px solid #F1F1F1;" id="contactAddress" name="contactAddress" th:value="${certificate.contactAddress}" title="" type="text" value="" size="50" class="common-text"/></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>联系电话：</th>
                                <td><input style=" background-color: #F1F1F1;border: 1px solid #F1F1F1;" id="phoneNo" name="phoneNo" th:value="${mb.certificate.phoneNo}" title="" type="text" value="" size="50" class="common-text"/></td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="height:10px"></p>
                        <div style="float:right;">
                            <button title="" type="button" class="btni btn-primaryi btn6 mr10" onclick="btn_applyForCertificateSubmit()">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--申请领证弹窗end-->
<!--修改密码弹窗-->
<div id="showChangePwdDiv" style="display:none" class="ystc">
    <div class="box-ys" width="462px">
            <P style="text-align:right;"><a href="#" onclick="$('#showChangePwdDiv').hide();"><FONT style="color:#111; font-size:20px;">×</FONT></a></P>
            <p style="height:20px"></p>
            <table width="100%" class="insert-tab" style="padding-left:20px" >
                <tbody>
                <tr>
                    <th><i class="require-red">*</i>旧密码：</th>
                    <td><input id="oldPwd" style=" background-color: #F1F1F1;border: 1px solid #F1F1F1;"
                               type="password" size="20"
                               class="common-text"/>
                    </td>
                </tr>
                <tr>
                    <th><i class="require-red">*</i>新密码：</th>
                    <td><input id="newPwd" style=" background-color: #F1F1F1;border: 1px solid #F1F1F1;"
                               type="password" size="20"
                               class="common-text"/></td>
                </tr>
                <tr>
                    <th><i class="require-red">*</i>确认密码：</th>
                    <td><input id="confirmPwd" style=" background-color: #F1F1F1;border: 1px solid #F1F1F1;"
                               type="password" size="20"
                               class="common-text"/></td>
                </tr>
                </tbody>
            </table>
            <p style="height:20px"/>
            <div style="float:right;">
                <button type="button" class="btni btn-primaryi btn6 mr10" id="submitNewPwdButton">提交</button>
            </div>
            <span id="changePwdSuccess" style="color:blue;"/>
            <span id="changePwdFailed" style="color:red;"/>
    </div>
</div>
<!--修改密码弹窗end-->
<div>
    <div id="asaimsg" class="AsaiDivShow">
        <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)" onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
            <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

        <div class="sign-in">
            <div class="user-form">
                <form accept-charset="UTF-8" action="" class="sign-in__form user-form__form" method="post">
                    <div class="user-form__fieldset">
                        <label class="user-form__label" for="session_login" style="color:#111">用户名：</label>
                        <input title="" autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                               id="session_login" name="session[login]" placeholder="ID" type="text"/>
                    </div>
                    <div class="user-form__fieldset">
                        <label class="user-form__label" for="session_password" style="color:#111">密码：</label>
                        <input title="" class="sign-in__field user-form__field" id="session_password"
                               name="session[password]" placeholder="password" type="password"/>
                    </div>
                    <button class="sign-in__button user-form__button" name="button" type="submit">登录<i
                            class="icon-arrow-right user-form__button-icon"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div id="asaimsgbg" class="AsaiDivBG"></div>
</div>
</body>
<script type="text/javascript">
    function showChangePwdForm() {
        $("#showChangePwdDiv").show();
    }
</script>
</html>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>